<a href="https://colab.research.google.com/github/Daniel-R-Armstrong/geo2vec/blob/master/Project_ca_liquor_licences_and_address_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [ ]:
#!pip install pandas -q
#!pip install requests -q
#!pip install cenpy -q
#!pip install pysal -q
!pip install pygeocoder
!pip install pandas_usaddress
!pip install censusgeocode

Requirement already satisfied: pygeocoder in /usr/local/lib/python3.6/dist-packages (1.2.5)
Requirement already satisfied: requests>=1.0 in /usr/local/lib/python3.6/dist-packages (from pygeocoder) (2.21.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=1.0->pygeocoder) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=1.0->pygeocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=1.0->pygeocoder) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=1.0->pygeocoder) (3.0.4)
Requirement already satisfied: pandas_usaddress in /usr/local/lib/python3.6/dist-packages (0.21)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandas_usaddress) (0.24.2)
Requirement already satisfied: usaddress in /usr/local/lib/python3.6/dist-packages (from pandas_usaddress) (0.5.10)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->pandas_usaddress) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas->pandas_usaddress) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->pandas_usaddress) (2.5.3)
Requirement already satisfied: python-crfsuite>=0.7 in /usr/local/lib/python3.6/dist-packages (from usaddress->pandas_usaddress) (0.9.6)
Requirement already satisfied: future>=0.14 in /usr/local/lib/python3.6/dist-packages (from usaddress->pandas_usaddress) (0.16.0)
Requirement already satisfied: probableparsing in /usr/local/lib/python3.6/dist-packages (from usaddress->pandas_usaddress) (0.0.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas->pandas_usaddress) (1.12.0)
Collecting censusgeocode
  Downloading https://files.pythonhosted.org/packages/2d/bb/33aff3841b625f14301e3fefb9125f549e4d5ac992751078c080ad831575/censusgeocode-0.4.3.post1-py2.py3-none-any.whl
Collecting requests-toolbelt<1,>=0.8.0 (from censusgeocode)
  Downloading https://files.pythonhosted.org/packages/60/ef/7681134338fc097acef8d9b2f8abe0458e4d87559c689a8c306d0957ece5/requests_toolbelt-0.9.1-py2.py3-none-any.whl (54kB)
     |████████████████████████████████| 61kB 4.5MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from censusgeocode) (1.12.0)
Requirement already satisfied: requests[security]<3,>=2.18 in /usr/local/lib/python3.6/dist-packages (from censusgeocode) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests[security]<3,>=2.18->censusgeocode) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests[security]<3,>=2.18->censusgeocode) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests[security]<3,>=2.18->censusgeocode) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests[security]<3,>=2.18->censusgeocode) (2.8)
Collecting cryptography>=1.3.4; extra == "security" (from requests[security]<3,>=2.18->censusgeocode)
  Downloading https://files.pythonhosted.org/packages/97/18/c6557f63a6abde34707196fb2cad1c6dc0dbff25a200d5044922496668a4/cryptography-2.7-cp34-abi3-manylinux1_x86_64.whl (2.3MB)
     |████████████████████████████████| 2.3MB 8.1MB/s
Collecting pyOpenSSL>=0.14; extra == "security" (from requests[security]<3,>=2.18->censusgeocode)
  Downloading https://files.pythonhosted.org/packages/01/c8/ceb170d81bd3941cbeb9940fc6cc2ef2ca4288d0ca8929ea4db5905d904d/pyOpenSSL-19.0.0-py2.py3-none-any.whl (53kB)
     |████████████████████████████████| 61kB 20.8MB/s
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography>=1.3.4; extra == "security"->requests[security]<3,>=2.18->censusgeocode) (1.12.3)
Collecting asn1crypto>=0.21.0 (from cryptography>=1.3.4; extra == "security"->requests[security]<3,>=2.18->censusgeocode)
  Downloading https://files.pythonhosted.org/packages/ea/cd/35485615f45f30a510576f1a56d1e0a7ad7bd8ab5ed7cdc600ef7cd06222/asn1crypto-0.24.0-py2.py3-none-any.whl (101kB)
     |████████████████████████████████| 102kB 29.7MB/s
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography>=1.3.4; extra == "security"->requests[security]<3,>=2.18->censusgeocode) (2.19)
Installing collected packages: requests-toolbelt, censusgeocode, asn1crypto, cryptography, pyOpenSSL
Successfully installed asn1crypto-0.24.0 censusgeocode-0.4.3.post1 cryptography-2.7 pyOpenSSL-19.0.0 requests-toolbelt-0.9.1

In [ ]:
import pandas as pd
import numpy as np
from pygeocoder import Geocoder
import pandas_usaddress
import censusgeocode

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
cd drive/'My Drive'/data/geo2vec

/content/drive/My Drive/data/geo2vec

In [ ]:
ls

# Project

##TODO


```
#read txt FILE
    f = open("LICENSE.txt", "r")
    print(f.read())
```
```
# merge two data bases
    df_merged = df1.merge(df2, how='outer', left_index=True, right_index=True)
    # see info with 
    ca_lq.info()
```

BUS APPREVIATIONS
``` 
APPLE IS NOT AN ABBREAVIATION  
USPS has a bad habbit of not including their own abbreviations in the list of commonly used abbreaviations

### Possible Projects


California DataSet ["BusinessType"] to use catagorize buiness types with images (map/satelite/maybe looknet)  
California DataSet ["Type Status"] , ["Type Original Issue Dates"] , and ["Expiration Dates"] to forcast which stores are going to close.

####address issues



number number, 1 31, 

intersections (two rd,st,ct)


it might be a good Idea to test if the address is  stuctured as (ST#, " " , "street" , " ", "st_abb(rd,ct)" " ", "city",  "state",  "zip"

In [ ]:
#ZIP + 4®
#  The ZIP + 4® file contains approximately 30 million records is available in its entirety or by selected states.
# is available through Electronic Product Fulfillment (EPF) on a monthly or quarterly basis. 

#Sample ZIP + 4® File TXT
https://postalpro.usps.com/storages/2018-02/ZIP4-SAM.TXT
 
#Sample ZIP + 4® Transaction File TXT 
https://postalpro.usps.com/storages/2018-02/ZIP4TRANS-SAM.TXT

In [ ]:
!realpath {anyfile}
!readlink -f {anyfile}

#### USPS

The USPS® definition of a standardized address is “one that is fully spelled out, abbreviated using the Postal Service™ standard abbreviations . . . or as shown in the current Postal Service ZIP+4 file."


##### Doc:


https://postalpro.usps.com/CASS/CASSTECH_N

##### Services:



>[Address Information System (AIS) Viewer](https://postalpro.usps.com/address-quality/ais-viewer)
AIS Viewer is an interactive application designed to provide the ability to retrieve, view, and print accurate and current ZIP Code™ information for all 50 states.

>[delivery-statistics-product](https://postalpro.usps.com/address-quality/delivery-statistics-product)  
The Delivery Statistics Product defines the number of post office boxes and business/residential deliveries on city, rural, and highway contract routes for every ZIP Code™ in the United States.

>[RDI™](https://postalpro.usps.com/address-quality-solutions/residential-delivery-indicator-rdi)  
Business or residential? Make informed decisions, improve your deliverability, and optimize operational efficiency with RDI™. 

>[Carrier Route Product](https://postalpro.usps.com/address-quality/carrier-route-product)
The Carrier Route Product provides reference information needed to apply carrier route codes to addresses for presort postage discounts.  

>[ZIPMove Product](https://postalpro.usps.com/address-quality-solutions/zipmove-product)
ZIPMove Product offers a means of correcting addresses that have undergone a ZIP Code™ realignment in which a change in city name and finance number occurred.

>[Address Matching System API (AMS API)/](https://postalpro.usps.com/address-quality/ams-api#licensing)($$$)  
AMS API is software used to develop address matching software. This software provides access to USPS® matching logic, which allows users to verify the accuracy of ZIP + 4® returns.

>[LACSLink® ](https://postalpro.usps.com/address-quality/lacslink)
The LACSLink® product offers an automated method of obtaining new addresses after a 911 emergency system has been implemented.

For more information about AIS Viewer and other addressing tools, contact the National Customer Support Center at 800-238-3150

## INFO

### open address

In [ ]:
#!unzip openaddr-collected-us_west.zip
cd us/ca
ls
t=pd.read_csv('alameda.csv',low_memory=False)
t.sort_values(by=['STREET','NUMBER'])

### Project outline

```
## Setup
### packages
### knowledge
### problems
### current issues 
    
### Data 
#### Read in data
#### Profile/explore
#### Basic cleaning  
##### Remove non useful columns

   
### Addreess fields
#### Combine address field
#### Standardize fields
#### Get lat long
#### Remove out of state
    
### Licenses
#### Knowledge
#### Simplfy, group & filter by license types 
#### Remove expired
#### Remove non lic
#### Remove non useful columns
#### Remove out of state
#### Remove duplicates
#### Multiple licences same location
```

### USPS Standars

#### Primary Street Suffix and Secondary Unit Designators

In [ ]:
C2 Secondary Unit Designators
 
Description :Approved Abbreviation   
#need to be followed by a     

Apartment : APT
Basement: BSMT**
#  : #
Building : BLDG
Department: DEPT
Floor : FL
Front : FRNT**
Hanger : HNGR
Key : KEY
Lobby : LBBY**
Lot : LOT
Lower : LOWR**
Office : OFC**
Penthouse : PH**
Pier : PIER
Rear : REAR**
Room : RM
Side : SIDE**
Slip : SLIP
Space : SPC
Stop : STOP
Suite : STE
Trailer : TRLR
Unit : UNIT
Upper : UPPR**   
    
Secondary Unit Designators,Secondary RANGE to follow ={}
"#" : "#"    
"Apartment" : "APT "     
"Building" : "BLDG"
"Department": "DEPT"
"Floor" : "FL"    
"Hanger" : "HNGR"
"Key" : "KEY"       
"Lot" : "LOT"    
"Rear" : "REAR"      
"Side" :  "SIDE"      
"Upper" : "UPPR"    
"Pier" : "PIER"    
"Room" : "RM"  
"Slip" : "SLIP"    
"Space": "SPC"    
"Stop" : "STOP"
"Suite" : "STE"
"Trailer" : "TRLR"
"Unit" : "UNIT"
        
Does not require a Secondary RANGE to follow.    
" " : "#"
"#" : "#"  
"Basement": "BSMT"    
"Front"  : "FRNT"
"Lobby" : "LBBY"
"Lower" : "LOWR"
"Office" : "OFC"
"Penthouse" : "PH"         
"Side" : "SIDE"    
"Upper" : "UPPR"

In [ ]:
https://pe.usps.com/text/pub28/28apc_002.htm
5/5/2019

#ToDo see if theere are more @ https://github.com/Lyonk71/pandas-usaddress/blob/master/pandas_usaddress/abbreviations.csv

Primary Street Suffix Name | Commonly Used Street Suffix or Abbreviation | Postal Service Standard Suffix Abbreviation

#ALLEY
'ALLEE' : 'ALY'
'ALLEY' : 'ALY'
'ALLY' : 'ALY'
'ALY' : 'ALY'

#ANEX
'ANEX' : 'ANX'
'ANNEX' : 'ANX'
'ANNX' : 'ANX'
'ANX' : 'ANX'
    
#ARCADE
'ARC' : 'ARC'
'ARCADE' : 'ARC'

#AVENUE	
'AV' : 'AVE'
'AVE' : 'AVE'
'AVEN' : 'AVE'
'AVENU' : 'AVE'
'AVENUE' : 'AVE'
'AVN' : 'AVE'
'AVNUE' : 'AVE'

#BAYOU
'BAYOO : BYU
'BAYOU : BYU
    
#BEACH
'BEACH' : 'BCH' 
'BCH' : 'BCH' 

#BEND
'BEND' : 'BND'
'BND' : 'BND'

#BLUFF
'BLF'   : 'BLF'
'BLUF'  : 'BLF'
'BLUFF' : 'BLF'

#BLUFFS :
'BLUFFS' : 'BLFS'

#BOTTOM
'BOT'    : 'BTM' 
'BOTTM ' : 'BTM' 
'BOTTOM' : 'BTM' 
'BTM '   : 'BTM' 
    
#BOULEVARD
'BLVD'      : 'BLVD'
'BOUL'      : 'BLVD'
'BOULEVARD' : 'BLVD'
'BOULV'     : 'BLVD'

#BRANCH
'BR'    : 'BR'
'BRNCH' : 'BR'
'BRANCH': 'BR'

#BRIDGE
'BRDGE' : 'BRG'
'BRG'   : 'BRG'
'BRIDGE': 'BRG'

#BROOK
'BRK'   : 'BRK'
'BROOK' : 'BRK' 

#BROOKS
'BROOKS' : 'BRKS'
'BRKS'   : 'BRKS'

#BURG
'BURG' : 'BG'
'BG'   : 'BG'

#BURGS
'BURGS' : 'BGS'
'BGS'   : 'BGS'

#BYPASS
'BYP'   : 'BYP'
'BYPA'  : 'BYP'
'BYPAS' : 'BYP'
'BYPASS': 'BYP'
'BYPS'  : 'BYP'

#CAMP
'CAMP' : 'CP'
'CP'   : 'CP'
'CMP'  : 'CP'

#CANYON
'CANYN' : 'CYN'
'CANYON': 'CYN'
'CNYN'  : 'CYN'
'CYN'   : 'CYN'
    
#CAPE
'CAPE' : 'CPE'
'CPE'  : 'CPE'

#CAUSEWAY
'CAUSEWAY': 'CSWY'
'CAUSWA'  : 'CSWY'
'CSWY'    : 'CSWY'

#CENTER 
'CEN' : 'CTR'
'CENT' : 'CTR'
'CENTER' : 'CTR'
'CENTR' : 'CTR'
'CENTRE' : 'CTR' 
'CNTER' : 'CTR'
'CNTR' : 'CTR'
'CTR' : 'CTR'
    
#CENTERS
'CENTERS' : 'CTRS'
'CTRS' : 'CTRS'

#CIRCLE
'CIR' : 'CIR'
'CIRC' : 'CIR'
'CIRCL' : 'CIR'
'CIRCLE' : 'CIR'
'CRCL' : 'CIR'
'CRCLE' : 'CIR'

#CIRCLES
'CIRCLES' : 'CIRS'
'CIRS' : 'CIRS'

#CLIFF
'CLF' : 'CLF'
'CLIFF' : 'CLF'

#CLIFFS
'CLFS' : 'CLFS'
'CLIFFS' : 'CLFS'

#CLUB
'CLB' : 'CLB'
'CLUB' : 'CLB'

#COMMON
'COMMON' : 'CMN'
'CMN' : 'CMN'

#COMMONS
'COMMONS' : 'CMNS' 
'CMNS' : 'CMNS' 

#CORNER
'COR' : 'COR'
'CORNER' : 'COR'

#CORNERS
'CORNERS' : 'CORS'
'CORS' : 'CORS'

#COURSE
'COURSE' : 'CRSE'
'CRSE' : 'CRSE'

#COURT
'COURT' : 'CT'
'CT' : 'CT'

#COURTS
'COURTS' : 'CTS'
'CTS' : 'CTS'

#COVE
'COVE' : 'CV'
'CV' : 'CV'

#COVES
'COVES' : 'CVS'
'CVS' : 'CVS'

#CREEK
'CREEK' : 'CRK'
'CRK' : 'CRK'

#CRESCENT
'CRESCENT' : 'CRES' 
'CRES' : 'CRES'
'CRSENT' : 'CRES'
'CRSNT' : 'CRES'

#CREST
'CREST' : 'CRST'
'CRST' : 'CRST'

#CROSSING
'CROSSING' : 'XING'
'CRSSNG' : 'XING'
'XING' : 'XING'

#CROSSROAD
'CROSSROAD' : 'XRD'
'XRD' : 'XRD'

#CROSSROADS
'CROSSROADS' : 'XRDS'
'XRDS' : 'XRDS'

#CURVE
'CURVE' : 'CURV'
'CURV' : 'CURV'

#DALE
'DALE' : 'DL'
'DL' : 'DL'

#DAM
'DAM' : 'DM'
'DM' : 'DM'

#DIVIDE
'DIV' : 'DV'
'DIVIDE' : 'DV'
'DV' : 'DV'
'DVD' : 'DV'

#DRIVE
'DR' : 'DR'
'DRIV' : 'DR'
'DRIVE' : 'DR'
'DRV' : 'DR'

#DRIVES
'DRIVES' : 'DRS'
'DRS' : 'DRS'

#ESTATE
'EST' : 'EST'
'ESTATE' : 'EST'

#ESTATES
'ESTATES' : 'ESTS'
'ESTS' : 'ESTS'

#EXPRESSWAY
'EXP' : 'EXPY'
'EXPR' : 'EXPY'
'EXPRESS' : 'EXPY'
'EXPRESSWAY' : 'EXPY'
'EXPW' : 'EXPY'
'EXPY' : 'EXPY'

#EXTENSION
'EXT' : 'EXT'
'EXTENSION' : 'EXT'
'EXTN' : 'EXT'
'EXTNSN' : 'EXT'
    
####
#EXTENSIONS
'EXTENSIONS' : 'EXTS'
'EXTS' : 'EXTS'

#FALL 
'FALL' : 'FALL'

#FALLS
'FALLS' : 'FLS'
'FLS' : 'FLS'

#FERRY
'FERRY' : 'FRY'
'FRRY' : 'FRY'
'FRY' : 'FRY'   

#FIELD
FIELD : FLD'
FLD : FLD'

#FIELDS
FIELDS : FLDS'
FLDS : FLDS'

#FLAT
FLAT : FLT'
FLT : FLT'

#FLATS
FLATS : FLTS'
FLTS : FLTS'

#FORD
FORD : FRD'
FRD : FRD'

#FORDS
FORDS : FRDS'
FRDS : FRDS'

#FOREST
FOREST : FRST'
FORESTS : FRST'
FRST : FRST'

#FORGE 
FORG : FRG'
FORGE : FRG' 
FRG : FRG'

#FORGES
FORGES : FRGS'
FRGS : FRGS'

#FORK
FORK : FRK'
FRK : FRK'

#FORKS
FORKS : FRKS'
FRKS : FRKS'


#FORT
FORT : FT'
FRT : FT'
FT : FT'

#FREEWAY
FREEWAY : FWY'
FREEWY : FWY'
FRWAY : FWY'
FRWY : FWY'
FWY : FWY'

#GARDEN
GARDEN : GDN'
GARDN : GDN'
GRDEN : GDN'
GDN  : GDN'
GRDN : GDN'
    

#GARDENS
GARDENS : GDNS'
GDNS : GDNS'
GRDNS : GDNS'

#GATEWAY
GATEWAY : GTWY'
GATEWY : GTWY'
GATWAY : GTWY'
GTWAY : GTWY'
GTWY : GTWY'

#GLEN
GLEN : GLN'
GLN : GLN'

#GLENS
GLENS :GLNS
'GLNS : GLNS'

#GREEN
'GREEN' : 'GRN'
'GRN' : 'GRN'


#GREENS
'GREENS' : 'GRNS'
'GRNS' : 'GRNS'

#GROVE
'GROV : GRV'
'GRV : GRV'
'GROVE' : 'GRV'


#GROVES
'GROVES' : 'GRVS'
'GRVS' : 'GRVS' 

#HARBOR

'HARB' : 'HBR'
'HARBOR' : 'HBR'
'HARBR' : 'HBR'
'HBR' : 'HBR'
'HRBOR' : 'HBR'

#HARBORS
'HARBORS' : 'HBRS'
'HBRS' : 'HBRS'

#HAVEN
'HAVEN' : 'HVN'
'HVN' : 'HVN'


#HEIGHTS
'HT' : 'HTS'
'HTS' : 'HTS'

#HIGHWAY
'HIGHWAY' : 'HWY' 
'HIGHWY' : 'HWY'
'HIWAY' : 'HWY'
'HIWY' : 'HWY'
'HWAY' : 'HWY'
'HWY' : 'HWY'

#HILL
'HILL' : 'HL'
'HL' : 'HL'

#HILLS
'HILLS' : 'HLS'
'HLS' : 'HLS'

#HOLLOW
'HLLW' : 'HOLW'
'HOLLOW' : 'HOLW'
'HOLLOWS' : 'HOLW'
'HOLW' : 'HOLW'
'HOLWS' : 'HOLW'

#INLET
'INLET' : 'INLT'
'INLT' : 'INLT'

#ISLAND
'IS' : 'IS'
'ISLAND' : 'IS'
'ISLND' : 'IS'

#ISLANDS
'ISLANDS' : 'ISS'
'ISLNDS' : 'ISS'
'ISS' : 'ISS'

#ISLE
'ISLE' : 'ISLE'
'ISLES' : 'ISLE'

#JUNCTION
'JCT' : 'JCT'
'JCTION' : 'JCT'
'JCTN' : 'JCT'
'JUNCTION' : 'JCT'
'JUNCTN' : 'JCT'
'JUNCTON' : 'JCT'

#JUNCTIONS
'JCTNS' : 'JCTS'
'JCTS' : 'JCTS'
'JUNCTIONS' : 'JCTS'

#KEY
'KEY' : 'KY'
'KY' : 'KY'

#KEYS
'KEYS' : 'KYS'
'KYS' : 'KYS'

#KNOLL
'KNL' : 'KNL'
'KNOL' : 'KNL'
'KNOLL' : 'KNL'

#KNOLLS
'KNLS' : 'KNLS'
'KNOLLS' : 'KNLS'

#LAKE
'LK' : 'LK'
'LAKE' : 'LK'

#LAKES

'LKS' :

'LKS'

'LAKES' :

#LAND

'LAND' :

'LAND'

#LANDING

'LANDING' :

'LNDG'

'LNDG' :

'LNDNG' :

#LANE

'LANE' :

'LN'

'LN' :

#LIGHT

'LGT' :

'LGT'

'LIGHT' :

#LIGHTS

'LIGHTS' :

'LGTS' :

#LOAF

'LF' :

'LF'

'LOAF' :

#LOCK

'LCK' :

'LCK'

'LOCK' : 

#LOCKS

'LCKS' : 

'LCKS'

'LOCKS' : 

#LODGE

'LDG' : 

'LDG'

'LDGE' : 

'LODG' : 

'LODGE' : 

#LOOP

'LOOP' : 

'LOOP'

'LOOPS' : 

#MALL

'MALL' : 

'MALL'

#MANOR

'MNR' : 

'MNR'

'MANOR' : 

#MANORS

'MANORS' : 

'MNRS' : 

'MNRS' : 

#MEADOW

'MEADOW' : 

'MDW'

#MEADOWS

'MDW' : 

'MDWS'

'MDWS' : 

'MEADOWS' : 

'MEDOWS' : 

#MEWS

'MEWS' : 

'MEWS' : 

#MILL

'MILL' : 

'ML' : 

#MILLS

'MILLS' : 

'MLS' : 

#MISSION

'MISSN' : 

'MSN'

'MSSN' : 

#MOTORWAY

'MOTORWAY' : 

'MTWY'

#MOUNT

'MNT' : 

'MT'

'MT' : 

'MOUNT' : 

#MOUNTAIN

'MNTAIN' : 

'MTN'

'MNTN' : 

'MOUNTAIN' : 

'MOUNTIN' : 
 : 
'MTIN' : 

'MTN' : 

#MOUNTAINS

'MNTNS' : 

'MTNS'

'MOUNTAINS' : 

#NECK

'NCK' : 

'NCK'

'NECK' : 

#ORCHARD

'ORCH' : 

'ORCH'

'ORCHARD' : 

'ORCHRD' : 

#OVAL

'OVAL' : 

'OVAL'

'OVL' : 

#OVERPASS

'OVERPASS' : 

'OPAS'

#PARK

'PARK' : 

'PARK'

'PRK' : 

#PARKS

'PARKS' : 

'PARK'

#PARKWAY

'PARKWAY' : 

'PKWY'

'PARKWY' : 

'PKWAY' : 

'PKWY' : 

'PKY' : 

#PARKWAYS

'PARKWAYS' : 

'PKWY'

'PKWYS' : 

#PASS

'PASS' : 

'PASS'

#PASSAGE

'PASSAGE' : 

'PSGE'

#PATH

'PATH' : 

'PATH'
 : 
'PATHS' : 

#PIKE

'PIKE' : 

'PIKE'

'PIKES' : 

#PINE

'PINE' : 

'PNE'

#PINES

'PINES' : 

'PNES'

'PNES' : 

#PLACE

'PL' : 

'PL'

#PLAIN
'PLAIN' : 
'PLN'

'PLN' : 

#PLAINS

'PLAINS' : 

'PLNS'

'PLNS' : 

#PLAZA

'PLAZA' : 

'PLZ'

'PLZ' : 

'PLZA' : 

#POINT

'POINT' : 

'PT'

'PT' : 

#POINTS

'POINTS' : 

'PTS'

'PTS' : 

#PORT

'PORT' : 

'PRT'

'PRT' : 

#PORTS

'PORTS' : 

'PRTS'

'PRTS' : 

#PRAIRIE

'PR' : 

'PR'

'PRAIRIE' : 

'PRR'

#RADIAL

'RAD' : 

'RADL'

'RADIAL' : 

'RADIEL' : 

'RADL' : 

#RAMP

'RAMP' : 

'RAMP'

#RANCH

'RANCH' : 

'RNCH'

'RANCHES'

'RNCH'

'RNCHS'

#RAPID

'RAPID'

'RPD'

'RPD'

#RAPIDS

'RAPIDS'

'RPDS'

'RPDS'

#REST

'REST'

'RST'

'RST'

#RIDGE

'RDG'

'RDG'

'RDGE'

'RIDGE'

#RIDGES

'RDGS'

'RDGS'

'RIDGES'

#RIVER

'RIV'

'RIV'

'RIVER'

'RVR'

'RIVR'

#ROAD

'RD'

'RD'

'ROAD'

#ROADS

'ROADS'

'RDS'

'RDS'

#ROUTE

'ROUTE'

'RTE'

#ROW

'ROW'

'ROW'

#RUE

'RUE'

'RUE'

#RUN

'RUN'

'RUN'

#SHOAL

'SHL'

'SHL'

'SHOAL'

#SHOALS

'SHLS'

'SHLS'

'SHOALS'

#SHORE

'SHOAR'

'SHR'

'SHORE'

'SHR'

#SHORES

'SHOARS'

'SHRS'

'SHORES'

'SHRS'

#SKYWAY

'SKYWAY'

'SKWY'

#SPRING

'SPG'

'SPG'

'SPNG'

'SPRING'

'SPRNG'

#SPRINGS

'SPGS'

'SPGS'

'SPNGS'

'SPRINGS'

'SPRNGS'

#SPUR

'SPUR'

'SPUR'

#SPURS

'SPURS'

'SPUR'

#SQUARE

'SQ'

'SQ'

'SQR'

'SQRE'

'SQU'
'SQUARE'

#SQUARES

'SQRS'

'SQS'

'SQUARES'

#STATION

'STA'

'STA'

'STATION'

'STATN'

'STN'

#STRAVENUE

'STRA'

'STRA'

'STRAV'

'STRAVEN'

'STRAVENUE'

'STRAVN'

'STRVN'

'STRVNUE'

#STREAM

'STREAM'

'STRM'

'STREME'

'STRM'

#STREET

'STREET'

'ST'

'STRT'

'ST'

'STR'

'STREETS'

'STREETS'

'STS'

'SUMMIT'

'SMT'

'SMT'

'SUMIT'

'SUMITT'

'SUMMIT'

#TERRACE

'TER'

'TER'

'TERR'

'TERRACE'

#THROUGHWAY

'THROUGHWAY'

'TRWY'

#TRACE

'TRACE'

'TRCE'

'TRACES'

'TRCE'

#TRACK

'TRACK'

'TRAK'

'TRACKS'
'TRAK'

'TRK'
'TRKS'

#TRAFFICWAY

'TRAFFICWAY'

'TRFY'

#TRAIL

'TRAIL'

'TRL'

'TRAILS'

'TRL'

'TRLS'

#TRAILER

'TRAILER
'
'TRLR'

'TRLR'

'TRLRS'

#TUNNEL

'TUNEL'

'TUNL'

'TUNL'

'TUNLS'

'TUNNEL'

'TUNNELS'

'TUNNL'

#TURNPIKE

'TRNPK'

'TPKE'

'TURNPIKE'

'TURNPK'

#UNDERPASS

'UNDERPASS'

'UPAS'

#UNION

'UN'

'UN'

'UNION'

'UNIONS'

'UNIONS'

'UNS'

#VALLEY
'
VALLEY'

'VLY'

'VALLY'

'VLLY'

'VLY'

#VALLEYS

'VALLEYS'

'VLYS'

'VLYS'

#VIADUCT

'VDCT'

'VIA'
'VIA'

'VIADCT'

'VIADUCT'

#VIEW

'VIEW'

'VW'

'VW'

#VIEWS

'VIEWS'

'VWS'
'VWS'

'VILLAGE'

'VILL'

'VLG'

'VILLAG'

#VILLAGE

'VILLG'

'VILLIAGE'

'VLG'

#VILLAGES

'VILLAGES'

'VLGS'

'VLGS'

#VILLE

'VILLE'

'VL'

'VL'

#VISTA

'VIS'

'VIS'

'VIST'

'VISTA'

'VST'

'VSTA'

#WALK

'WALK'

'WALK'

#WALKS

'WALKS'

'WALK'

#WALL

'WALL'

'WALL'

#WAY

'WY'

'WAY'

'WAY'

#WAYS

'WAYS'

'WAYS'

#WELL

'WELL'

'WL'

#WELLS

'WELLS'
'WLS'

'WLS'

### Graph basics



Graphs are structures that map relations between objects. The objects are referred to as nodes and the connections between them as edges in this tutorial. Note that edges and nodes are commonly referred to by several names that generally mean exactly the same thing:

node == vertex == point   
edge == arc == link

The starting graph is undirected. That is, your edges have no orientation: they are bi-directional. For example: A<--->B == B<--->A.
By contrast, the graph you might create to specify the shortest path to hike every trail could be a directed graph, where the order and direction of edges matters. For example: A--->B != B--->A.

The graph is also an edge-weighted graph where the distance (in miles) between each pair of adjacent nodes represents the weight of an edge. This is handled as an edge attribute named "distance".

Degree refers to the number of edges incident to (touching) a node. Nodes are referred to as odd-degree nodes when this number is odd and even-degree when even.

The solution to this CPP problem will be a Eulerian tour: a graph where a cycle that passes through every edge exactly once can be made from a starting node back to itself (without backtracking). An Euler Tour is also known by several names:

Eulerian tour == Eulerian circuit == Eulerian cycle
A matching is a subset of edges in which no node occurs more than once. A minimum weight matching finds the matching with the lowest possible summed edge weight.

NetworkX: Graph Manipulation and Analysis
NetworkX is the most popular Python package for manipulating and analyzing graphs. Several packages offer the same basic level of graph manipulation, notably igraph which also has bindings for R and C++. However, I found that NetworkX had the strongest graph algorithms that I needed to solve the CPP.

https://www.datacamp.com/community/tutorials/networkx-python-graph-tutorial

### Knowledge (CA Licenses)

##### ['License Type']

In [ ]:
#ca_lq['License Type'].mode()

> ###### License Type(dict)

In [ ]:
# https://www.abc.ca.gov/permits/licensetypes.html 03/19/2019
ca_license_types={
    "30":	"Temporary Retail Permit (Only in conjunction with a Person to Person transfer)-(TEMPORARY LICENSES)", 
    "31":	"Special Daily License(Temporary Beer or Wine)-(NON-PROFIT TEMPORARY LICENSES)",
    "32":	"Daily Beer(NON-PROFIT TEMPORARY LICENSES)", 
    "33":	"Daily Wine(NON-PROFIT TEMPORARY LICENSES)",    
    "34":	"Daily Beer and Wine(NON-PROFIT TEMPORARY LICENSES)",   
    "37":	"Daily On-Sale General(NON-PROFIT TEMPORARY LICENSES)", 
    
    
    "20":	"Off-Sale Beer and Wine(OFF-SALE LICENSES)", 
    "21":	"Off-Sale General(OFF-SALE LICENSES)", 
    "73":	"Special Nonprofit Sales License(OFF-SALE LICENSES)",
    "85":	"Limited Off-Sale Retail Wine License(OFF-SALE LICENSES)", 
    
    
    "40":	"On-Sale Beer(ON-SALE LICENSES)",    
    "41":	"On-Sale Beer and Wine for Bona Fide Public Eating Place(ON-SALE LICENSES)", 
    "42":	"On-Sale Beer and Wine for Public Premises(ON-SALE LICENSES)",
    "43":	"On-Sale Beer and Wine for Train(ON-SALE LICENSES)",
    "44":	"On-Sale Beer for Fishing Party Boat(ON-SALE LICENSES)", 
    "45":	"On-Sale Beer and Wine for Boat(ON-SALE LICENSES)", 
    "46":	"On-Sale Beer and Wine for Airplane(ON-SALE LICENSES)",
    "47":	"On-Sale General for Bona Fide Public Eating Place(ON-SALE LICENSES)",
    "48":	"On-Sale General for Public Premises(ON-SALE LICENSES)",
    "49":	"On-Sale General for Seasonal Business(ON-SALE LICENSES)",
    "50":	"On-Sale General for Club(ON-SALE LICENSES)",
    "51":	"Club(ON-SALE LICENSES)",
    "52":	"Veterans' Club(ON-SALE LICENSES)",
    "53":	"On-Sale General for Train(ON-SALE LICENSES)",
    "54":	"On-Sale General for Boat(ON-SALE LICENSES)",
    "55":	"On-Sale General for Airplane(ON-SALE LICENSES)",
    "56":	"On-Sale General for Vessel of more than 1,000 tons burden(ON-SALE LICENSES)",   
    "58":	"Caterer's Permit(ON-SALE LICENSES)", 
    "59":	"On-Sale Beer and Wine for Seasonal Business(ON-SALE LICENSES)", 
    "60":	"On-Sale Beer for Seasonal Business(ON-SALE LICENSES)",
    "61":	"On-Sale Beer for Public Premises(ON-SALE LICENSES)",
    "62":	"On-Sale General Bona Fide Public Eating Place Intermittent Dockside Vessel(ON-SALE LICENSES)", 
    "63":	"On-Sale Beer and Wine for Hospital(ON-SALE LICENSES)", 
    "64":	"Special On-Sale General Theatre(ON-SALE LICENSES)", 
    "65":	"Special On-Sale Beer and Wine, Symphony(ON-SALE LICENSES)",
    "66":	"Controlled Access Cabinet Permit(ON-SALE LICENSES)", 
    "67":	"Bed and Breakfast Inn(ON-SALE LICENSES)", 
    "68":	"Portable Bar(ON-SALE LICENSES)",
    "69":	"Special On-Sale Beer & Wine Theater(ON-SALE LICENSES)", 
    "70":	"On-Sale General Restrictive Service(ON-SALE LICENSES)", 
    "71":	"Special On-Sale General License(ON-SALE LICENSES)", 
    "72":	"Special On-Sale General For-Profit Theatre, Napa(ON-SALE LICENSES)",     
    "75":	"On-Sale General Brew-Pub(ON-SALE LICENSES)", 
    "76":	"On-Sale General Maritime Museum Association(ON-SALE LICENSES)",
    "77":	"Event Permit(ON-SALE LICENSES)",
    "78":	"On Sale General Wine, Food and Art Cultural Museum(ON-SALE LICENSES)",    
    "80":	"Special On-Sale General Bed and Breakfast Inn(ON-SALE LICENSES)",      
    "83":	"On-Sale General Caterer's License(ON-SALE LICENSES)",    
    "86":	"Instructional Tasting License(ON-SALE LICENSES)",
    "87":	"Neighborhood-Restricted Special On-Sale General License(ON-SALE LICENSES)",
    "88":	"Special On Sale General for Historic Cemetery(ON-SALE LICENSES)",
    
    
    "01":	"Beer Manufacturer(NON-RETAIL)", 
    "02":	"Winegrower(NON-RETAIL)", 
    "03":	"Brandy Manufacturer(NON-RETAIL)",
    "04":	"Distilled Spirits Manufacturer(NON-RETAIL)", 
    "05":	"Distilled Spirits Manufacturer's Agent(NON-RETAIL)", 
    "06":	"Still(NON-RETAIL)",
    "07":	"Rectifier(NON-RETAIL)",
    "08":	"Wine Rectifier(NON-RETAIL)", 
    "09":	"Beer and Wine Importer(NON-RETAIL)",
    "10":	"Beer and Wine Importer's General(NON-RETAIL)",
    "11":	"Brandy Importer(NON-RETAIL)", 
    "12":	"Distilled Spirits Importer(NON-RETAIL)", 
    "13":	"Distilled Spirits Importer's General(NON-RETAIL)",
    "14":	"Public Warehouse(NON-RETAIL)",
    "15":	"Customs Broker(NON-RETAIL)",
    "16":	"Wine Broker(NON-RETAIL)", 
    "17":	"Beer and Wine Wholesaler(NON-RETAIL)",
    "18":	"Distilled Spirits Wholesaler(NON-RETAIL)",
    "19":	"Industrial Alcohol Dealer(NON-RETAIL)", 
    "22":	"Wine Blender(NON-RETAIL)", 
    "23":	"Small Beer Manufacturer(NON-RETAIL)", 
    "24":	"Distilled Spirits Rectifier's General(NON-RETAIL)",
    "25":	"California Brandy Wholesaler(NON-RETAIL)",
    "26":	"Out-of-State Beer Manufacturer's Certificate(NON-RETAIL)",
    "27":	"California Winegrowers Agent(NON-RETAIL)", 
    "28":	"Out-of-State Distilled Spirits Shipper's Certificate(NON-RETAIL)",
    "29":	"Winegrape Grower's Certificate(NON-RETAIL)", 
    "74":	"Craft Distiller(NON-RETAIL)",
    "79":	"Certified Farmers' Market Sales Permit(NON-RETAIL)",
    "81":	"Wine Sales Event Permit(NON-RETAIL)", 
    "82":	"Direct Shippers Permit(NON-RETAIL)", 
    "84":	"Certified Farmers' Market Beer Sales Permit(NON-RETAIL)"
}

##### ['Type Status']

In [ ]:
ca_lq["Type Status"].unique()
  #  Maybe use this with expiration dates to determin who is considered closed or revoked. 
  #    ACTIVE – fully engaged license
  #    PEND – pending ability to sell
  #    R64B – license issued and held
  #    REV – revocation
  #    REVPEN – revocation pending
  #    SLMSHD – special hold
  #    SUPEND – suspended
  #    SUREND – license surrendered

##### ['Expiration Dates']

- California has licences that are past their exparation data

If you use a data index(convert to date or datetime and set index)
```
# set_index
ca_lq.set_index('Expiration Dates', inplace=True)

# filter
ca_lq['20190401':]  
#   or 
ca_lq.loc['2019-04-01':]   
#   or     
ca_lq.loc['2019-04-01':'2020-07-01']
 ```

## Data (CA, IL, MI)

### CA liquor licences

#### Read in data

In [ ]:
raw_ca_lq= pd.read_csv("http://www.abc.ca.gov/datport/ABC_Data_Export_CSV.zip", sep =",")
# Has license and applications
# is update every wednesday
# data can be found: http://www.abc.ca.gov/datport/lqs.html?menu=main - data export
# another way to get it: http://www.abc.ca.gov/datport/lqs.html?screenid=1
# daily report: http://www.abc.ca.gov/datport/lqs.html?menu=prior

##### Optional (Create sqlite to store table)

In [ ]:
from sqlalchemy import create_engine

In [ ]:
from datetime import date
from datetime import timedelta

today = date.today()
offset = (today.weekday() - 2) % 7
last_wednesday = today - timedelta(days=offset)

In [ ]:
name = 'ca_lq_'+ last_wednesday.isoformat().replace("-","") #can't us - or . in tables
name

'ca_lq_20190508'

In [ ]:
ls

 booz.db       openaddr-collected-us_west.zip   README.txt   us/
 LICENSE.txt  '[r]'                             summary/

In [ ]:
#create sqlite
engine = create_engine('sqlite:////content/drive/My Drive/addr/booz.db', echo=False)

In [ ]:
raw_ca_lq.to_sql(name, con=engine) # by default if_exists is set to 'fail',  later weare going to use if_exists='append'

In [ ]:
engine.execute('SELECT * FROM ca_lq_20190508').fetchall()

##### Optional (Profile/explore)

In [ ]:
import pandas_profiling
pandas_profiling.ProfileReport(ca_lq)

In [ ]:
# ca_lq
#ca_lq.dtypes

#### Basic cleaning

In [ ]:
ca_lq = raw_ca_lq

In [ ]:
ca_lq['Expiration Dates'] = pd.to_datetime(ca_lq['Expiration Dates'], format='%d-%b-%Y')
ca_lq['Type Original Issue Dates'] = pd.to_datetime(ca_lq['Type Original Issue Dates'], format='%d-%b-%Y')

##### Remove "Unnamed"

In [ ]:
ca_lq = ca_lq.drop(ca_lq.filter(regex='Unnamed:').columns, axis=1) # "axis=1" is columns
#ca_lq.nunique()

##### Remove un-useful columns

In [ ]:
ca_lq = ca_lq.drop(['Term in # of Months','Geo Code','Premise Census Tract #','Master Indicator'], axis=1)

# It would have been nice to use 'Master Indicator' but it turns out that on 'File Number' can have multiple masters, based on the type of licence (on and off premise)

##### Clean up - ['dba_name']

In [ ]:
ca_lq['dba_name']= np.where(ca_lq['DBA Name'].isnull(), ca_lq['Primary Name'], ca_lq['DBA Name'])

##### zip_code - separate zip code and plus 4

In [ ]:
ca_lq['Premise Zip']=ca_lq['Premise Zip'].apply(str)

In [ ]:
ca_lq[['zip_code','zip_plus_4']] = ca_lq['Premise Zip'].str.split('-',expand = True)

##### Remove expired

In [ ]:
#ca_lq = ca_lq[(ca_lq['Expiration Dates'] > '2019-04-01')]
#ca_lq =ca_lq[(ca_lq['Expiration Dates'] > '2019-04-01') & (ca_lq['Expiration Dates'] < '2020-07-01')]

####  Simplfy

##### Simplfy License using lists(off premise, non-retail)

In [ ]:
# list of retail off premises license types
ca_off_sale=[20,21 ,73, 85]
# list of non-retail and tempory license types
ca_range = list(range(1,40))
# remove 20, and 21
ca_range.remove(20)
ca_range.remove(21)
# make a list of the other non-retail Licenses not in range 
ca_non_retail=[74,79,81,82,84]
# add the two list togeather 
ca_non_retail= ca_range + ca_non_retail

##### Remove non-retail(brewers,wholesale, etc)

In [ ]:
ca_lq = ca_lq[~ca_lq['License Type'].isin(ca_non_retail)]

##### Remove non-licenses, and filter for only active

In [ ]:
# filter by Active statuse and licenses
#ca_lq= ca_lq.loc[(ca_lq['Type Status'] == 'ACTIVE') & (ca_lq['License or Application'] == "LIC")]

# drop cols 
#ca_lq=ca_lq.drop(['License or Application', 'Type Status'], axis=1)

##### Simplfy "License Types"

In [ ]:
# Create "l_type" to simplify  "License Type" into "On" and "Off" Premises
ca_lq['on_or_off'] = ca_lq['License Type'].apply(lambda x: 'off' if x in ca_off_sale else "on")

##### Group By Address & type

In [ ]:
ca_lq = pandas_usaddress.tag(ca_lq, ['Premise Street Address 1', 'Premise Street Address 2',  'Premise City', 'Premise State','Premise Zip'], granularity='single', standardize=True)
# creates SingleLine

In [ ]:
ca_lq.columns

Index(['License Type', 'File Number', 'License or Application', 'Type Status',
       'Type Original Issue Dates', 'Expiration Dates', 'Primary Name',
       'Premise Street Address 1', 'Premise Street Address 2', 'Premise City',
       'Premise State', 'Premise Zip', 'DBA Name', 'Premise County',
       'dba_name', 'on_or_off', 'SingleLine'],
      dtype='object')

In [ ]:
ca_lq.shape

(99817, 17)

In [ ]:
#what address field to group by
add = pd.DataFrame([[k,v.values]
             for k,v in ca_lq.groupby("SingleLine").groups.items()], 
             columns=["SingleLine",'indices'])

In [ ]:
add.shape
#add.set_index("indices", inplace=True)
#add['indices'] = add['indices'].apply(str)
type(add['indices'][0])
add['indices']=add['indices'].tolist()
add["SingleLine"] = add["SingleLine"].apply(str)
add['indices'][0][:5]
#df = pandas_usaddress.tag(df, ['street1', 'street2', 'city', 'state'], granularity='single', standardize=True)
#df = pandas_usaddress.tag(df, ['address_field'], granularity='medium', standardize=True)
add = pandas_usaddress.tag(add,['SingleLine'], granularity='full',standardize=True)
#add= add.reset_index

#### address parts

In [ ]:
# make a list of strings 
ca_lq['add_list']=ca_lq['Premise Street Address 1'].str.split().tolist()

In [ ]:
ca_lq['nu_list'] = ca_lq['add_list'].str.isnumeric()
ca_lq['nu_list']

In [ ]:
# get length
ca_lq['add_len'] = ca_lq['add_list'].str.len()
#ca_lq['add_len'].sample(5)

In [ ]:
# expand add_list into its own dataframe
parts = ca_lq['add_list'].apply(pd.Series)
#parts.head(5)

In [ ]:
#rename columns 
parts = parts.rename(columns = lambda x : 'part_' + str(x))
#parts.head(5)

In [ ]:
ns = parts.apply(lambda x: x.str.isnumeric())
ns = ns.rename(columns = lambda x : 'isnum_' + str(x))
ns.sample(10)

,isnum_part_0,isnum_part_1,isnum_part_2,isnum_part_3,isnum_part_4,isnum_part_5,isnum_part_6,isnum_part_7,isnum_part_8,isnum_part_9,isnum_part_10,isnum_part_11
23410,True,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28573,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79133,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39038,True,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96308,True,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59357,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87405,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74931,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83761,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44186,True,False,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
psec = parts.isin(["&", "and"])
psec = psec.rename(columns = lambda x : 'and_' + str(x))
psec

In [ ]:
Directional={"North", "N", "East",	"E", "South", "S", "West", "W", "Northeast", "NE", "Southeast",	"SE", "Northwest",	"NW", "Southwest",	"SW"}
#Mybe inclued typos EAAST, EAST, EATS, NOTTH, SO,

In [ ]:
parts

In [ ]:
# join the tags dataframe back to the original dataframe
# sec used as intercetion 
# len = 3 and ends with abb, done
# test for is numeric, 
pd.concat([ca_lq[:], parts[:]], axis=1)

In [ ]:
ca_lq['lics']= ca_lq.groupby(['SingleLine','dba_name'])["on_or_off"].transform("unique")

In [ ]:
#ca_lq['n'] = ca_lq['lics'].agg(np.size)
#ca_lq.sort_values("n",ascending=False)

In [ ]:
ca_lq['type'] = np.where(ca_lq['lics'].agg(np.size)>1, "off|on", ca_lq["lics"].astype(str).str.replace('\[|\]|\'', ''))
# uses numpy "where"  il_lq['lics'].agg(np.size)>1, test if aggrigate(count) in list "lics"(types of licences) is more than 1, if true assign it Combo if not just get the string in lics.

In [ ]:
ca_lq.head(50)

#### clean zip-codes

264 are missing city

In [ ]:
ca_lq.columns

Index(['License Type', 'File Number', 'Type Original Issue Dates',
       'Expiration Dates', 'corp_name', 'street', 'street2', 'city', 'state',
       'Premise Zip', 'dba_name', 'county', 'dba_name', 'on_or_off',
       'SingleLine', 'zip_code', 'zip_plus_4', 'add_list', 'add_len', 'lics',
       'type'],
      dtype='object')

In [ ]:
#ca_lq.loc[(ca_lq['Premise State'].isnull())].shape

In [ ]:
ca_lq[['zip_code','plus_four']] = ca_lq['Premise Zip'].str.split('-',expand = True)

In [ ]:
ca_lq["zip_code"].isnull().sum()

0

In [ ]:
#I was thinking that there could be a case where someone forgot to put in a zipcode, is this case I am thinking one solution is to sort by 
#city and street and use a fill method, or use the most common zip in that city. is my case all of the address missing the zip are missing the city and state,
#and they appear to all be foreign addresses
#ca_lq.sort_values(['Premise City', 'Premise Street Address 1'], ascending=[True, True])
#df.fillna(method = "ffill")#fills with previous row
#df.fillna(method = "bfill") #next row
# or calc stat to fill

#ca_lq.loc[(ca_lq['Premise Zip'].isnull()) & (ca_lq['Premise City'].isnull())].shape, ca_lq.loc[(ca_lq['Premise Zip'].isnull())].shape
#ca_lq.loc[(ca_lq['Premise State'].isnull())].shape
ca_lq = ca_lq[pd.notnull(ca_lq['Premise Zip'])]
#ca_lq.loc[(ca_lq['Premise State'].isnull())].shape

In [ ]:
ca= pd.DataFrame([ca_lq['street'].astype(str),
                  ca_lq['street2'].fillna('').astype(str), 
                  ca_lq['city'].astype(str), 
                  ca_lq['state'].astype(str)]).transpose()

In [ ]:
ca

In [ ]:
#make address file
ca.to_csv('in.txt',index=False, header=False)

#### Deduplicate

In [ ]:
ca_lq[ca_lq.duplicated(['Premise Street Address 1'],keep= False)].sort_values("Premise Street Address 1",ascending=False)

In [ ]:
#ca_lq[ca_lq.duplicated(['dba_name','StreetTag'],keep= False)] #21964 using StreetTag
#ca_lq[ca_lq.duplicated(['File Number'], keep = False)].count() #21432 

ca_lq.drop_duplicates(['dba_name','Premise Street Address 1'], keep= 'first', inplace=True)
#ca_lq[ca_lq.duplicated(['File Number'], keep = False)].count() # 0 after drop
#ca_lq.count() # 71947 after drop

In [ ]:
ca_lq['ID']= ca_lq['File Number'].map(str) + "-CA"

In [ ]:
len(ca_lq)

79846

In [ ]:
len(ca_lq[ca_lq.duplicated('File Number',keep=False)])

415

In [ ]:
#print type counts
ca_lq.nunique(), ca_lq[ca_lq["type"]=="off|on"].count(), ca_lq[ca_lq["type"]=="Retail - off "].count(), ca_lq[ca_lq["type"]=="on"].count()

In [ ]:
#Drop duplicates(all cols)

#set indext to date

ca_lq.drop_duplicates(inplace=True, keep ='first')# only drop if all columns info is the same
#print type counts
ca_lq.nunique(), ca_lq[ca_lq["type"]=="off|on"].count(), ca_lq[ca_lq["type"]=="off"].count(), ca_lq[ca_lq["type"]=="on"].count()

In [ ]:
#Drop duplicates by "File Number"
ca_lq.drop_duplicates(subset='File Number',inplace=True, keep="first")
#print type counts
ca_lq.nunique(), ca_lq[ca_lq["type"]=="Combo"].count(), ca_lq[ca_lq["type"]=="Retail - Off Premises"].count(), ca_lq[ca_lq["type"]=="Retail - On Premises"].count()

In [ ]:
#rename columns
ca_lq.rename(columns={'Primary Name': 'corp_name', 'DBA Name': 'dba_name' , 'Premise Street Address 1':'street', 'Premise Street Address 2':'street2', 
                      'Premise City':'city', 'Premise State':'state' , 'Premise County':'county'
                     }, inplace=True)

In [ ]:
ca_lq.columns

#### Combine address fields

In [ ]:
ca_lq.head(50)

In [ ]:
ca_lq['Premise Street Address Combo']= ca_lq['Premise Street Address 1'].astype(str)+ ' '  + ca_lq['Premise Street Address 2'].fillna('').astype(str)

In [ ]:
intersection if the address has two suffixes try to remove everything but street name and suffix

In [ ]:
ca_lq

In [ ]:
#ca_lq.columns
ca_lq['Address1and2']= ca_lq['Premise Street Address 1'].astype(str)+ ' '  + ca_lq['Premise Street Address 2'].fillna('').astype(str) + ', ' + ca_lq['Premise City'].astype(str) + ', ' + ca_lq['Premise State'].astype(str) + '  ' + ca_lq['zip_code'].astype(str)
ca_lq['Address1']= ca_lq['Premise Street Address 1'].astype(str)+ ', ' + ca_lq['Premise City'].astype(str) + ', ' + ca_lq['Premise State'].astype(str) + '  ' + ca_lq['zip_code'].astype(str)

#make af
#af= pd.DataFrame([ca_lq['Premise Street Address 1'].astype(str)+ ' '  + ca_lq['Premise Street Address 2'].fillna('').astype(str), ca_lq['Premise City'], ca_lq['Premise State'].astype(str), ca_lq['zip_code'].astype(str)]).transpose()

#make af
a_one = pd.DataFrame([ca_lq['Premise Street Address 1'].astype(str)+ ' ' , ca_lq['Premise City'], ca_lq['Premise State'].astype(str), ca_lq['zip_code'].astype(str)]).transpose()

#### usaddress (Standardize address fields)

In [ ]:
ca_lq = pandas_usaddress.tag(ca_lq, ['Premise Street Address 1', 'Premise Street Address 2',  'Premise City', 'Premise State','Premise Zip'], granularity='single', standardize=True)
# creates SingleLine

In [ ]:
# usaddress
ca = pandas_usaddress.tag(ca_lq, ['Address1'], standardize=True)

In [ ]:
#ca= ca_lq[['SingleLine']]
ca.head()

In [ ]:
import pandas_profiling
pandas_profiling.ProfileReport(ca_lq) 
# Recipients seem to be places 
# 1014 missing state
# 1756 missing StreetName
# USPSBoxGroupType ?
# USPSBoxID seems odd
# unit numbers in USPSBoxType
# 1014 missing zip codes

#### Create one one addresses to dedup

I dont want to do this becasue of # and & but need to thing about removing certain info
```
print("Remove irrelevant separators:")
irrelevant_regex = re.compile(r'[^a-z0-9\s]')
company_names = [irrelevant_regex.sub(' ', c) for c in company_names]
pprint.pprint(company_names)
```
remove extra spaces

In [ ]:
ca_lq = pandas_usaddress.tag(ca_lq, ['Premise Street Address 1', 'Premise Street Address 2',  'Premise City', 'Premise State','Premise Zip'], granularity='single', standardize=True)
# creates SingleLine

In [ ]:
#strip white space
ca_lq=ca_lq.applymap(lambda x: x.strip() if type(x)==str else x)

#### Get lat long (CensusGeocode)

In [ ]:
df. = df.zip.astype('int32')

In [ ]:
# Verify that an address is valid (i.e. in Google's system)
error
#ca_lq['vaddress']= ca_lq['Address'].apply(lambda x: Geocoder.geocode(x).valid_address)

In [ ]:
  errors in censusgeocode
they have it as import censusgeocode as cg but then using cg, I am thinking this wont work
max batch should be 10000 not 1000
 unique id, street address, state, city, zip code

In [ ]:
len(ca_lq.index)//10000+1

13

In [ ]:
n_splits = len(ca_lq.index)//1000 +1

for i, new_df in enumerate(np.array_split(a,n_splits)):
    with open(f"out{i}.csv","w") as fo:
            fo.write(new_df.to_csv())

In [ ]:
n_splits = len(ca_lq.index)//1000 +1

for i, new_df in enumerate(np.array_split(af,n_splits)):
    with open(f"out{i}.csv","w") as fo:
            fo.write(new_df.to_csv())

In [ ]:
n_splits = len(ca_lq.index)//1000 +1

for i, new_df in enumerate(np.array_split(ca,n_splits)):
    with open(f"t{i}.csv","w") as fo:
            fo.write(new_df.to_csv())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """

In [ ]:
ls

In [ ]:
%timeit
#import censusgeocode
# benchmark default is "Current", other options are 
#https://geocoding.geo.census.gov/geocoder/benchmarks
#https://geocoding.geo.census.gov/geocoder/vintages?form
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_Current', vintage = 'Current_Current')	
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_Current', vintage = 'Census2010_Current')	
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_Current', vintage = 'ACS2013_Current')	 
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_Current', vintage = 'ACS2014_Current')	 
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_Current', vintage = 'ACS2015_Current')	 
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_Current', vintage = 'ACS2016_Current')	 
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_Current', vintage = 'ACS2017_Current')	 
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_Current', vintage = 'ACS2018_Current')	
# Current_ACS2018
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_ACS2018', vintage = 'Current_ACS2018')
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_ACS2018', vintage = 'Census2010_ACS2018')
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_ACS2018', vintage = 'ACS2013_ACS2018')
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_ACS2018', vintage = 'ACS2014_ACS2018')
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_ACS2018', vintage = 'ACS2015_ACS2018')
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_ACS2018', vintage = 'ACS2016_ACS2018')
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_ACS2018', vintage = 'ACS2017_ACS2018')
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_ACS2018', vintage = 'ACS2018_ACS2018')		
# Public_AR_Census2010	
cg = censusgeocode.CensusGeocode(benchmark='Public_AR_Census2010', vintage='Census2010_Census2010')
#cg = censusgeocode.CensusGeocode(benchmark='Public_AR_Census2010', vintage='Census2000_Census2010')
#cg.onelineaddress("")
out0 = cg.addressbatch('out0.csv')
#location batch(10000 max)
#censusgeocode has it at 1000 max, but it is 10000, per https://geocoding.geo.census.gov/geocoder/Geocoding_Services_API.pdf page6/7
# the csv needs to be comma-delimited, have no header with columns in this order:
#(unique id, street address, city state, zip code), censusgeocode has the columns out of order

In [ ]:
t=pd.read_csv("t0.csv", header=None, names=(0,"address"))

In [ ]:
t

In [ ]:
test = t['address'].apply(lambda x: cg.onelineaddress(x, returntype='locations'))

In [ ]:
%timeit
!curl --form addressFile=@out1.csv --form benchmark=Public_AR_Census2010 --form vintage=Census2010_Census2010  https://geocoding.geo.census.gov/geocoder/geographies/addressbatch --output geocoderesult.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  195k  100  151k  100 44201    915    260  0:02:50  0:02:49  0:00:01 44211

In [ ]:
t=pd.read_csv("geocoderesult.csv")

In [ ]:
t=pd.read_csv("out0.csv", header=None)

In [ ]:
issue with info after st/ave/rd
issue with zip+4
issue with wrong town/zip         maybe try to remove info 241 TOWER RD CA

In [ ]:
out0[1]

In [ ]:
cg.onelineaddress("")

In [ ]:
labels = ['id','address','match','matchtype','parsed','tigerlineid','side','statefp','countyfp','tract' ,'block' ,'lon','lat']
df = pd.DataFrame.from_records(out0, columns=labels)

In [ ]:
df['match'].value_counts()
#ca default values
#True     818
#False    180

True     818
False    180
Name: match, dtype: int64

In [ ]:
df.sort_values("address")

#### Geopy Nominatim

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="dans locs", timeout=None)

In [ ]:
add = ca['Address'].apply(lambda x: geolocator.geocode(x))

In [ ]:
#class geopy.extra.rate_limiter.RateLimiter(func, min_delay_seconds=0.0, max_retries=2, error_wait_seconds=5.0, swallow_exceptions=True, return_value_on_exception=None)

In [ ]:
#from geopy.extra.rate_limiter import RateLimiter
#geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
#df['location'] = df['name'].apply(geocode)

#df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)

#from tqdm import tqdm
#tqdm.pandas()
#df['location'] = df['name'].progress_apply(geocode)

#### Remove out of state

### IL liquor licences

only active list was easy to extract , found [Here](https://www2.illinois.gov/ilcc/Divisions/Pages/Other-Search-Features.aspx), if I wanted more we would have to scrape.

> #### Other alchohol related information (possible use)

llinois has surveys of local liquor-related ordinances of around 1,000 of the approximately 1,200 local entities in Illinois, the info would have to be scraped but it might be interesting, the data can be found [Here](https://www2.illinois.gov/ilcc/Pages/Survey.aspx)

Taxes on booze [Illinois Liquor Gallonage Reports](https://www2.illinois.gov/rev/research/taxstats/LiquorGallonageReports/Pages/default.aspx)

#### Get Data

In [ ]:
cd il/data

/content/drive/My Drive/data/geo2vec/il/data

In [ ]:
ls

'07.07.2019_liquor licences.csv'
 il_by_date/
 Illinois_Tracts_Block_Groups_Only.zip
 IL.LiqLic.07.07.2019.0.csv
 IL.LiqLic.07.07.2019.1.csv
 IL.LiqLic.07.07.2019.2.csv
 IL.LiqLic.07.07.2019.csv
 IL.LiqLic.07.07.2019.GeocodeResults.0.csv
 IL.LiqLic.07.07.2019.GeocodeResults.1.csv
 IL.LiqLic.07.07.2019.GeocodeResults.2.csv
 IL.LiqLic.07.07.2019.GeocodeResults.csv
 IL.tryagain.0.geocoderesult.csv
 images/
 image_urls_by_date/
 loop_listings/
 monthly.xls
 tracts/
 tryagain.0.csv
 urls_il_06.30.2019.txt
 zipcodes/

In [ ]:
!wget https://www2.illinois.gov/ilcc/All%20documents%20site%20wide/Divisions/Licensing/monthly.xls

--2019-07-07 20:30:12--  https://www2.illinois.gov/ilcc/All%20documents%20site%20wide/Divisions/Licensing/monthly.xls
Resolving www2.illinois.gov (www2.illinois.gov)... 163.191.60.140
Connecting to www2.illinois.gov (www2.illinois.gov)|163.191.60.140|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14356992 (14M) [application/vnd.ms-excel]
Saving to: ‘monthly.xls’

monthly.xls         100%[===================>]  13.69M   637KB/s    in 20s

2019-07-07 20:30:33 (705 KB/s) - ‘monthly.xls’ saved [14356992/14356992]

#### Rename monthly.xls to save it for future use

In [ ]:
#rename monthy

In [ ]:
il_lq = pd.read_excel('monthly.xls')

In [ ]:
#pandas_profiling.ProfileReport(il_lq)

In [ ]:
#il_lq.sample(5)

In [ ]:
#il_lq.nunique()

In [ ]:
#il_lq.columns

In [ ]:
il_lq['Address']= il_lq['DBA_Street1'].astype(str) + " " + il_lq['DBA_Street2'].fillna('').astype(str) + ", " + il_lq['DBA_City'].astype(str) + ", " + il_lq['DBA_State'].astype(str) + " " + il_lq['DBA_Zip'].astype(str)

#### Simplify  Licence types

In [ ]:
il_lq['RetailType'].unique()
#il_lq.groupby('RetailType').count()
#il_lq['BusinessType'].unique()
#il_lq['Group'].unique()
#mi_lq['Subtype'].unique()
#mi_lq['Type'].describe()

array([nan, 'ON-PREMISES CONSUMPTION', 'OFF-PREMISES CONSUMPTION',
       'CONSUMPTION COMBINATION'], dtype=object)

In [ ]:
#remove nan in RetailType
il_lq = il_lq[pd.notnull(il_lq['RetailType'])]

In [ ]:
il_lq['type'] = il_lq['RetailType'].replace({'CONSUMPTION COMBINATION':'off|on', 'ON-PREMISES CONSUMPTION':'on', 'OFF-PREMISES CONSUMPTION':'off'})
il_lq['type'].head(3)

1        on
2       off
4    off|on
Name: type, dtype: object

#### Clean

##### Remove out of state

In [ ]:
#remove out of state
il_lq = il_lq[il_lq.DBA_State == "IL"]

##### seperate zip into 'zip_code' and 'plus_four'

In [ ]:
il_lq[['zip_code','plus_four']] = il_lq['DBA_Zip'].str.split('-',expand = True)

In [ ]:
il_lq[["l_t","id"]] =il_lq["Lic_No"].str.split('-',expand = True)

In [ ]:
il_lq["ID"] = il_lq["Lic_No"].map(str) + "-il"

In [ ]:
il_lq.DBA_Street1.nunique(),il_lq.DBA_Street1.count()

(22780, 24159)

In [ ]:
il_lq.columns

Index(['Corp_Name', 'Corp_Street1', 'Corp_Street2', 'Corp_City', 'Corp_State',
       'Corp_Zip', 'DBA_Name', 'DBA_Street1', 'DBA_Street2', 'DBA_City',
       'DBA_State', 'DBA_Zip', 'DBA_County', 'Lic_No', 'License Type',
       'Issue_Date', 'Effective_Date', 'Expiration_Date', 'IBT', 'RetailType',
       'BusinessType', 'BusinessTypeOther', 'LocalLicense', 'LocLicIssuedBy',
       'LocLicIssued', 'LocLicExpiration', 'Renewal', 'Address', 'type',
       'zip_code', 'plus_four', 'l_t', 'id', 'ID'],
      dtype='object')

In [ ]:
il_lq.drop(["Corp_Street1","Corp_Street2","Corp_City", "Corp_State", "Corp_Zip","Issue_Date", "Effective_Date", "BusinessTypeOther","LocalLicense" ,
            "LocLicIssuedBy", "LocLicIssued", "LocLicExpiration", "Renewal"], inplace=True, axis=1)

##### Group by

In [ ]:
il_lq['lics']=il_lq.groupby(['DBA_Street1','DBA_Name'])["type"].transform("unique")

In [ ]:
#il_lq['count_column']=il_lq.groupby(['DBA_Street1','DBA_Name']).DBA_Street1.transform('count') 
#create a new column "count_column" by using the grouped data (street and name)
#  you take this series in this case "DBA_street1" and use trans form to convert it to a count.
#  transform is really neat because you can use this to transfrom data using prebuilt functions like sum, count, ect, 
#  as well as other function like "series.transform([np.sqrt, np.exp])" 
#  or lambda functions :  grouped_by_data.transform(lambda x: (x - x.mean()) / x.std())

In [ ]:
il_lq['n'] = il_lq['lics'].agg(np.size)

In [ ]:
il_lq['p_type'] = np.where(il_lq['lics'].agg(np.size)>1, "Combo", il_lq["lics"].astype(str).str.replace('\[|\]|\'', ''))
# uses numpy "where"  il_lq['lics'].agg(np.size)>1, test if aggrigate(count) in list "lics"(types of licences) is more than 1, if true assign it Combo if not just get the string in lics.

In [ ]:
#il_lq[il_lq.duplicated(['DBA_Name','DBA_Street1'],keep= False)] #581
il_lq.drop_duplicates(['DBA_Name','DBA_Street1'],keep= 'first', inplace=True)

In [ ]:
#il_lq[il_lq.duplicated('DBA_Street1',keep=False)].sort_values("DBA_Street1") #2346 befor p_type #1792 after
il_lq[il_lq.duplicated('IBT',keep=False)].sort_values("DBA_Street1") #6926

#STREET: ST, ROAD: RD, plaza, court:ct  circle ctr, PARK

,Corp_Name,DBA_Name,DBA_Street1,DBA_Street2,DBA_City,DBA_State,DBA_Zip,DBA_County,Lic_No,License Type,Expiration_Date,IBT,RetailType,BusinessType,Address,type,zip_code,plus_four,l_t,id,ID,lics,n,p_type
3212,FKG OIL CO,CLUB CENTRE MOTOMART,#1 CLUB CENTRE COURT,NaN,EDWARDSVILLE,IL,62025,MADISON,1A-0023824,1A - RETAILER,03/31/2020,1459368.0,OFF-PREMISES CONSUMPTION,I. CONVENIENCE & GAS,"#1 CLUB CENTRE COURT , EDWARDSVILLE, IL 62025",off,62025,None,1A,0023824,1A-0023824-il,[off],1,off
21143,KROGER LP I,KROGER J-657,#20 CHERRY TREE SHOPPING CTR,NaN,WASHINGTON,IL,61571,TAZEWELL,1A-0032377,1A - RETAILER,10/31/2019,28721421.0,OFF-PREMISES CONSUMPTION,D. SUPERMARKET,"#20 CHERRY TREE SHOPPING CTR , WASHINGTON, IL ...",off,61571,None,1A,0032377,1A-0032377-il,[off],1,off
21891,PAR-A-DICE GAMING CORP,PAR-A-DICE RIVERBOAT CASINO,#21 BLACKJACK BLVD,NaN,EAST PEORIA,IL,61611-0000,TAZEWELL,1G-0000015,1G - BOAT,09/30/2019,22883721.0,ON-PREMISES CONSUMPTION,P. OTHER,"#21 BLACKJACK BLVD , EAST PEORIA, IL 61611-0000",on,61611,0000,1G,0000015,1G-0000015-il,[on],1,on
24531,RAVANELLI EDWARDS & BUSH INC,RAVANELLI'S RESTAURANT,#3 AMERICAN VILLAGE,NaN,GRANITE CITY,IL,62040,MADISON,1A-0036642,1A - RETAILER,10/31/2019,29555711.0,ON-PREMISES CONSUMPTION,B. RESTAURANT,"#3 AMERICAN VILLAGE , GRANITE CITY, IL 62040",on,62040,None,1A,0036642,1A-0036642-il,[on],1,on
961,NU BOWL LANES INC,AIRPORT PLAZA BOWL,#4 ERWIN PLEGGE BLVD,NaN,BETHALTO,IL,62010-0000,MADISON,1A-0092372,1A - RETAILER,01/31/2020,980579.0,ON-PREMISES CONSUMPTION,P. OTHER,"#4 ERWIN PLEGGE BLVD , BETHALTO, IL 62010-0000",on,62010,0000,1A,0092372,1A-0092372-il,[on],1,on
28153,WALGREEN CO,WALGREENS #09922,#4 S COMMERCIAL ST,NaN,HARRISBURG,IL,62946,SALINE,1A-0091938,1A - RETAILER,12/31/2019,92932.0,OFF-PREMISES CONSUMPTION,A. DRUG STORE/PHARMACY,"#4 S COMMERCIAL ST , HARRISBURG, IL 62946",off,62946,None,1A,0091938,1A-0091938-il,[off],1,off
27519,"MINIT MART, LLC","MINIT MART, LLC",1 CARRIER LN,NaN,WENONA,IL,61377-9005,MARSHALL,1A-1140261,1A - RETAILER,11/30/2019,43006795.0,OFF-PREMISES CONSUMPTION,I. CONVENIENCE & GAS,"1 CARRIER LN , WENONA, IL 61377-9005",off,61377,9005,1A,1140261,1A-1140261-il,[off],1,off
12563,WESTERN OIL INC,PETRO MART #76,1 CORVETTE DR,NaN,LITCHFIELD,IL,62056-1090,MONTGOMERY,1A-0094500,1A - RETAILER,06/30/2020,36069612.0,OFF-PREMISES CONSUMPTION,I. CONVENIENCE & GAS,"1 CORVETTE DR , LITCHFIELD, IL 62056-1090",off,62056,1090,1A,0094500,1A-0094500-il,[off],1,off
19966,C C FOOD MARTS INC,C C FOOD MART,1 E BROADWAY ST,NaN,TRENTON,IL,62293,CLINTON,1A-0005931,1A - RETAILER,09/30/2019,18661637.0,OFF-PREMISES CONSUMPTION,I. CONVENIENCE & GAS,"1 E BROADWAY ST , TRENTON, IL 62293",off,62293,None,1A,0005931,1A-0005931-il,[off],1,off
23086,COMPASS GROUP USA INC,CHARTWELLS @ DEPAUL UNIVERSITY,1 E JACKSON BLVD,NaN,CHICAGO,IL,60604-2201,COOK,1B-0055500,1B - CATERER,10/31/2019,25641131.0,ON-PREMISES CONSUMPTION,P. OTHER,"1 E JACKSON BLVD , CHICAGO, IL 60604-2201",on,60604,2201,1B,0055500,1B-0055500-il,[on],1,on
3682,WALGREEN CO,WALGREENS #13827,1 E OGDEN AVENUE,NaN,WESTMONT,IL,60559,DUPAGE,1A-0098466,1A - RETAILER,03/31/2020,92932.0,OFF-PREMISES CONSUMPTION,A. DRUG STORE/PHARMACY,"1 E OGDEN AVENUE , WESTMONT, IL 60559",off,60559,None,1A,0098466,1A-0098466-il,[off],1,off
11203,GRAHAM ENTERPRISE INC,OAKBROOK TERRACE QUIK SHOP (GEI-116),1 E ROOSEVELT RD,NaN,OAKBROOK TERRACE,IL,60181-3513,DUPAGE,1A-0105571,1A - RETAILER,05/31/2020,22361634.0,OFF-PREMISES CONSUMPTION,I. CONVENIENCE & GAS,"1 E ROOSEVELT RD , OAKBROOK TERRACE, IL 60181-...",off,60181,3513,1A,0105571,1A-0105571-il,[off],1,off
10002,MC CORMICK & SCHMICK RESTAURANT CORP,MCCORMICK & SCHMICK'S SEAFOOD RESTAURANT,1 E WACKER DR,NaN,CHICAGO,IL,60601-1642,COOK,1A-0072674,1A - RETAILER,05/31/2020,32412924.0,ON-PREMISES CONSUMPTION,B. RESTAURANT,"1 E WACKER DR , CHICAGO, IL 60601-1642",on,60601,1642,1A,0072674,1A-0072674-il,[on],1,on
3525,EXPRESSLANE INC,EXPRESS LANE,1 EAST HITT ST,NaN,MT. MORRIS,IL,61054,OGLE,1A-0075467,1A - RETAILER,02/29/2020,4603321.0,OFF-PREMISES CONSUMPTION,C. CONVENIENCE,"1 EAST HITT ST , MT. MORRIS, IL 61054",off,61054,None,1A,0075467,1A-0075467-il,[off],1,off
13960,OVATIONS FOOD SERVICES LP,OVATIONS FOOD SERVICES-COLLINSVILLE,1 GATEWAY DR,NaN,COLLINSVILLE,IL,62234-6107,MADISON,1A-1122828,1A - RETAILER,05/31/2020,37817590.0,ON-PREMISES CONSUMPTION,P. OTHER,"1 GATEWAY DR , COLLINSVILLE, IL 62234-6107",on,62234,6107,1A,1122828,1A-1122828-il,[on],1,on
16024,FKG OIL CO,DUQUOIN MOTOMART,1 HOWELLMAN DR,NaN,DU QUOIN,IL,62832-2463,PERRY,1A-0002865,1A - RETAILER,07/31/2019,1459368.0,CONSUMPTION COMBINATION,I. CONVENIENCE & GAS,"1 HOWELLMAN DR , DU QUOIN, IL 62832-2463",off|on,62832,2463,1A,0002865,1A-0002865-il,[off|on],1,off|on
6634,UNIVERSITY OF IL,UNIVERSITY OF ILLINOIS-PEORIA,1 ILLINI DR,NaN,PEORIA,IL,61605-2576,PEORIA,1B-0076048,1B - CATERER,02/29/2020,9011943.0,ON-PREMISES CONSUMPTION,P. OTHER,"1 ILLINI DR , PEORIA, IL 61605-2576",on,61605,2576,1B,0076048,1B-0076048-il,[on],1,on
29026,ARAMARK SERVICES INC,ARMARK CORPORATION,1 JOHN DEERE PL,NaN,MOLINE,IL,61265-8010,ROCK ISLAND,1A-0050341,1A - RETAILER,12/31/2019,8605904.0,ON-PREMISES CONSUMPTION,B. RESTAURANT,"1 JOHN DEERE PL , MOLINE, IL 61265-8010",on,61265,8010,1A,0050341,1A-0050341-il,[on],1,on
5265,MIDWEST PROPERTY MANAGEMENT,ILLINOIS BEACH RESORT,1 LAKE FRONT DR,NaN,ZION,IL,60099-0000,LAKE,1A-0029477,1A - RETAILER,03/31/2020,20390920.0,ON-PREMISES CONSUMPTION,H. HOTEL/MOTEL,"1 LAKE FRONT DR , ZION, IL 60099-0000",on,60099,0000,1A,0029477,1A-0029477-il,[on],1,on
12186,HIGHLAND PARK CVS LLC,CVS PHARMACY #8512,1 MAIN STREET,NaN,PARK FOREST,IL,60466,COOK,1A-0076971,1A - RETAILER,05/31/2020,33817006.0,OFF-PREMISES CONSUMPTION,A. DRUG STORE/PHARMACY,"1 MAIN STREET , PARK FOREST, IL 60466",off,60466,None,1A,0076971,1A-0076971-il,[off],1,off
27531,NEW LENOX COMMUNITY PARK DIST,LIONS COMMUNITY CENTER,1 MANOR DR,NaN,NEW LENOX,IL,60451-2930,WILL,1A-0011818,1A - RETAILER,12/31/2019,11874805.0,ON-PREMISES CONSUMPTION,P. OTHER,"1 MANOR DR , NEW LENOX, IL 60451-2930",on,60451,2930,1A,0011818,1A-0011818-il,[on],1,on
11148,BOND DRUG COMPANY OF ILLINOIS LLC,WALGREENS #04146,1 N ELMHURST RD,NaN,PROSPECT HEIGHTS,IL,60070-1509,COOK,1A-0100007,1A - RETAILER,05/31/2020,5862061.0,OFF-PREMISES CONSUMPTION,A. DRUG STORE/PHARMACY,"1 N ELMHURST RD , PROSPECT HEIGHTS, IL 60070-1509",off,60070,1509,1A,0100007,1A-0100007-il,[off],1,off
2741,WHOLE FOODS MARKET GROUP INC,WHOLE FOODS MARKET,1 N HALSTED ST,NaN,CHICAGO,IL,60661-2176,COOK,1A-1125419,1A - RETAILER,02/29/2020,24581259.0,ON-PREMISES CONSUMPTION,D. SUPERMARKET,"1 N HALSTED ST , CHICAGO, IL 60661-2176",on,60661,2176,1A,1125419,1A-1125419-il,[on],1,on
2740,WHOLE FOODS MARKET GROUP INC,WHOLE FOODS MARKET,1 N HALSTED STREET,1ST FLOOR,CHICAGO,IL,60661-0000,COOK,1A-1125418,1A - RETAILER,02/29/2020,24581259.0,OFF-PREMISES CONSUMPTION,D. SUPERMARKET,"1 N HALSTED STREET 1ST FLOOR, CHICAGO, IL 6066...",off,60661,0000,1A,1125418,1A-1125418-il,[off],1,off
23336,GRAHAM C-STORES CO.,GRAHAM C-STORES - LAKE ZURICH,1 N RAND ROAD,NaN,LAKE ZURICH,IL,60047-2263,LAKE,1A-0086118,1A - RETAILER,11/30/2019,23761814.0,OFF-PREMISES CONSUMPTION,K. GAS STATION,"1 N RAND ROAD , LAKE ZURICH, IL 60047-2263",off,60047,2263,1A,0086118,1A-0086118-il,[off],1,off
3408,RESTAURANT ASSOCIATES LLC,RA @ UBS CHICAGO,1 N WACKER DR,NaN,CHICAGO,IL,60606-2874,COOK,1B-1129929,1B - CATERER,03/31/2020,34191127.0,OFF-PREMISES CONSUMPTION,B. RESTAURANT,"1 N WACKER DR , CHICAGO, IL 60606-2874",off,60606,2874,1B,1129929,1B-1129929-il,"[off, on]",2,Combo
19153,MARSHALL FIELDS CHICAGO INC,MACY'S,1 OAKBROOK CTR,NaN,OAK BROOK,IL,60523-1809,DUPAGE,1A-1124543,1A - RETAILER,08/31/2019,16386361.0,OFF-PREMISES CONSUMPTION,F. DEPARTMENT STORE,"1 OAKBROOK CTR , OAK BROOK, IL 60523-1809",off,60523,1809,1A,1124543,1A-1124543-il,"[off, on]",2,Combo
14965,MARSHALL FIELDS CHICAGO INC,FRONTERA FRESCO,1 OLD ORCHARD CENTER,NaN,SKOKIE,IL,60077-0000,COOK,1A-0111041,1A - RETAILER,06/30/2020,16386361.0,ON-PREMISES CONSUMPTION,F. DEPARTMENT STORE,"1 OLD ORCHARD CENTER , SKOKIE, IL 60077-0000",on,60077,0000,1A,0111041,1A-0111041-il,[on],1,on
18627,EAGL ILLINOIS BEVERAGE LLC,RUFFLED FEATHERS GOLF CLUB,1 PETE DYE DR,NaN,LEMONT,IL,60439-7742,COOK,1A-1127991,1A - RETAILER,08/31/2019,55686753.0,ON-PREMISES CONSUMPTION,P. OTHER,"1 PETE DYE DR , LEMONT, IL 60439-7742",on,60439,7742,1A,1127991,1A-1127991-il,[on],1,on
18674,SMASHBURGER ACQUISITION - CHICAGO LLC,SMASHBURGER #1145,1 RICE LAKE SQ,NaN,WHEATON,IL,60189-2132,DUPAGE,1A-0102041,1A - RETAILER,08/31/2019,40057641.0,ON-PREMISES CONSUMPTION,B. RESTAURANT,"1 RICE LAKE SQ , WHEATON, IL 60189-2132",on,60189,2132,1A,0102041,1A-0102041-il,[on],1,on
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17092,COSTCO WHOLESALE CORP,COSTCO WHOLESALE #779,999 N ELMHURST RD,NaN,MOUNT PROSPECT,IL,60056-1135,COOK,1A-0064091,1A - RETAILER,08/31/2019,28660315.0,OFF-PREMISES CONSUMPTION,F. DEPARTMENT STORE,"999 N ELMHURST RD , MOUNT PROSPECT, IL 60056-1135",off,60056,1135,1A,0064091,1A-0064091-il,[off],1,off
20655,MONICAL PIZZA CORPORATION,MONICAL'S PIZZA,CHERRY TREE SHPG CTR,#16-18,WASHINGTON,IL,61571,TAZEWELL,1A-0006763,1A - RETAILER,09/30/2019,16225856.0,ON-PREMISES CONSUMPTION,B. RESTAURANT,"CHERRY TREE SHPG CTR #16-18, WASHINGTON, IL 61571",on,61571,None,1A,0006763,1A-0006763-il,[on],1,on
28393,RAINFOREST CAFE INC,RAINFOREST CAFE,D121 WOODFIELD MALL,NaN,SCHAUMBURG,IL,60173-5018,COOK,1A-0046367,1A - RETAILER,12/31/2019,26403528.0,ON-PREMISES CONSUMPTION,B. RESTAURANT,"D121 WOODFIELD MALL , SCHAUMBURG, IL 60173-5018",on,60173,5018,1A,0046367,1A-0046367-il,[on],1,on
18149,"HOST INTERNATIONAL , INC.",CHILI'S T-I,FL 1,OHARE FIELD TERMINAL1-CONC B0,BETHESDA,IL,20817,COOK,1A-0004705,1A - RETAILER,08/31/2019,23866381.0,ON-PREMISES CONSUMPTION,P. OTHER,"FL 1 OHARE FIELD TERMINAL1-CONC B0, BETHESDA, ...",on,20817,None,1A,0004705,1A-0004705-il,[on],1,on
4909,DE KALB PARK DIST,DEKALB COMMUNITY CENTER AT HOPKINS PARK,HOPKINS PARK,1403 SYCAMORE ROAD,DEKALB,IL,60115,DEKALB,1A-0015676,1A - RETAILER,03/31/2020,3855228.0,ON-PREMISES CONSUMPTION,P. OTHER,"HOPKINS PARK 1403 SYCAMORE ROAD, DEKALB, IL 60115",on,60115,None,1A,0015676,1A-0015676-il,[on],1,on
9276,ALTO VINEYARDS LTD,ALTO VINEYARDS,HWY 127,PO BOX 51,ALTO PASS,IL,62905,UNION,1E-0020722,1E - WINE MAKER'S RETAILER,05/31/2020,20517122.0,OFF-PREMISES CONSUMPTION,P. OTHER,"HWY 127 PO BOX 51, ALTO PASS, IL 62905",off,62905,None,1E,0020722,1E-0020722-il,[off],1,off
21128,KROGER LP I,KROGER LTD PART I J-705,J-705,201 S MAIN ST,EAST PEORIA,IL,61611,TAZEWELL,1A-0032370,1A - RETAILER,10/31/2019,28721421.0,OFF-PREMISES CONSUMPTION,D. SUPERMARKET,"J-705 201 S MAIN ST, EAST PEORIA, IL 61611",off,61611,None,1A,0032370,1A-0032370-il,[off],1,off
14854,RED ROBIN INTL INC,RED ROBIN GOURMET BURGERS & SPIRITS,J120 WOODFIELD MALL,NaN,SCHAUMBURG,IL,60173-5014,COOK,1A-1123092,1A - RETAILER,06/30/2020,18626165.0,ON-PREMISES CONSUMPTION,B. RESTAURANT,"J120 WOODFIELD MALL , SCHAUMBURG, IL 60173-5014",on,60173,5014,1A,1123092,1A-1123092-il,[on],1,on
18225,BOARD OF TRUSTEES OF ILLINOIS STATE UNIVERSITY,IL STATE UNIVERSITY/DINING,"JOHN GREEN BLDG, ILLINOIS STATE UNIVERSITY",CAMPUS DINING SERVICES,NORMAL,IL,61790-2610,MCLEAN,1B-0048572,1B - CATERER,08/31/2019,9042660.0,ON-PREMISES CONSUMPTION,P. OTHER,"JOHN GREEN BLDG, ILLINOIS STATE UNIVERSITY CAM...",on,61790,2610,1B,0048572,1B-0048572-il,[on],1,on
7794,MERCURY SKYLINE YACHT CHARTERS INC,CHICAGO FIRST LADY,LOWER WACKER DR AT MICHIGAN,MICHIGAN AVE.,CHICAGO,IL,60601-0000,COOK,1G-0000035,1G - BOAT,04/30/2020,22786988.0,ON-PREMISES CONSUMPTION,P. OTHER,"LOWER WACKER DR AT MICHIGAN MICHIGAN AVE., CHI...",on,60601,0000,1G,0000035,1G-0000035-il,[on],1,on
8895,MERCURY SKYLINE YACHT CHARTERS INC,CHICAGO'S LEADING LADY,LOWER WACKER DRIVE,AT MICHIGAN AVE,CHICAGO,IL,60601-0000,COOK,1G-0100370,1G - BOAT,05/31/2020,22786988.0,ON-PREMISES CONSUMPTION,P. OTHER,"LOWER WACKER DRIVE AT MICHIGAN AVE, CHICAGO, I...",on,60601,0000,1G,0100370,1G-0100370-il,[on],1,on
25091,ILLINOIS AYERS OIL CO,AYERCO OF LIBERTY,MAIN & PITTSFIELD STREETS,NaN,LIBERTY,IL,62347-0000,ADAMS,1A-0010177,1A - RETAILER,11/30/2019,23655.0,OFF-PREMISES CONSUMPTION,I. CONVENIENCE & GAS,"MAIN & PITTSFIELD STREETS , LIBERTY, IL 62347-...",off,62347,0000,1A,0010177,1A-0010177-il,[off],1,off
8896,MERCURY SKYLINE YACHT CHARTERS INC,CHICAGO'S FAIR LADY,MICHIGAN AVE & LOWER WACKER DR,NaN,CHICAGO,IL,60601-0000,COOK,1G-0072193,1G - BOAT,05/31/2020,22786988.0,ON-PREMISES CONSUMPTION,P. OTHER,"MICHIGAN AVE & LOWER WACKER DR , CHICAGO, IL 6...",on,60601,0000,1G,0072193,1G-0072193-il,[on],1,on
7792,MERCURY SKYLINE YACHT CHARTERS INC,CHICAGO'S LITTLE LADY,MICHIGAN AVE & WACKER DR,NaN,CHICAGO,IL,60601-0000,COOK,1G-0038356,1G - BOAT,04/30/2020,22786988.0,ON-PREMISES CONSUMPTION,P. OTHER,"MICHIGAN AVE & WACKER DR , CHICAGO, IL 60601-0000",on,60601,0000,1G,0038356,1G-0038356-il,[on],1,on
19731,SPIRIT CRUISES LLC,SPIRIT OF CHICAGO,NAVY PIER,600 E GRAND AVENUE,CHICAGO,IL,60611,COOK,1G-0000013,1G - BOAT,08/31/2019,22245499.0,ON-PREMISES CONSUMPTION,P. OTHER,"NAVY PIER 600 E GRAND AVENUE, CHICAGO, IL 60611",on,60611,None,1G,0000013,1G-0000013-il,[on],1,on
9233,SHORELINE MARINE CO,BRIGHT STAR,OGDEN SLIP,NAVY PIER,CHICAGO,IL,60611-0000,COOK,1G-0057757,1G - BOAT,05/31/2020,10208054.0,ON-PREMISES CONSUMPTION,P. OTHER,"OGDEN SLIP NAVY PIER, CHICAGO, IL 60611-0000",on,60611,0000,1G,0057757,1G-0057757-il,[on],1,on
11898,SHORELINE MARINE CO,VOYAGEUR,OGDEN SLIP,NaN,CHICAGO,IL,60611,COOK,1G-0088373,1G - BOAT,06/30/2020,10208054.0,ON-PREMISES CONSUMPTION,P. OTHER,"OGDEN SLIP , CHICAGO, IL 60611",on,60611,None,1G,0088373,1G-0088373-il,[on],1,on
5751,SHORELINE MARINE CO,STAR OF CHICAGO,OGDEN SLIP,NaN,CHICAGO,IL,60611-0000,COOK,1G-0056987,1G - BOAT,04/30/2020,10208054.0,ON-PREMISES CONSUMPTION,P. OTHER,"OGDEN SLIP , CHICAGO, IL 60611-0000",on,60611,0000,1G,0056987,1G-0056987-il,[on],1,on
21177,SHORELINE MARINE CO,EVENING STAR,OGDEN SLIP,NAVY PIER,CHICAGO,IL,60611-0000,COOK,1G-0055382,1G - BOAT,10/31/2019,10208054.0,ON-PREMISES CONSUMPTION,P. OTHER,"OGDEN SLIP NAVY PIER, CHICAGO, IL 60611-0000",on,60611,0000,1G,0055382,1G-0055382-il,[on],1,on
11899,SHORELINE MARINE CO,BLUE DOG,OGDEN SLIP,NaN,CHICAGO,IL,60611-0000,COOK,1G-0088374,1G - BOAT,06/30/2020,10208054.0,ON-PREMISES CONSUMPTION,P. OTHER,"OGDEN SLIP , CHICAGO, IL 60611-0000",on,60611,0000,1G,0088374,1G-0088374-il,[on],1,on
9849,MARSHALL FIELDS CHICAGO INC,FRONTERA FRESCO,ONE OLD ORCHARD SHOPPING CENTE,MACY'S,SKOKIE,IL,60076-0000,COOK,1A-0023971,1A - RETAILER,04/30/2020,16386361.0,OFF-PREMISES CONSUMPTION,F. DEPARTMENT STORE,"ONE OLD ORCHARD SHOPPING CENTE MACY'S, SKOKIE,...",off,60076,0000,1A,0023971,1A-0023971-il,[off],1,off
902,HIGHLAND PARK CVS LLC,CVS/ PHARMACY #3188,ONE SOUTH COMMERCIAL,NaN,HARRISBURG,IL,62946,SALINE,1A-0092442,1A - RETAILER,01/31/2020,33817006.0,OFF-PREMISES CONSUMPTION,A. DRUG STORE/PHARMACY,"ONE SOUTH COMMERCIAL , HARRISBURG, IL 62946",off,62946,None,1A,0092442,1A-0092442-il,[off],1,off
14558,"ALTON POST 1308, VETERANS OF FOREIGN WARS OF T...",ALTON VFW POST 1308,PO BOX 3071,4445 ALBY ST,ALTON,IL,62002-9171,MADISON,1A-0094750,1A - RETAILER,06/30/2020,9030107.0,ON-PREMISES CONSUMPTION,P. OTHER,"PO BOX 3071 4445 ALBY ST, ALTON, IL 62002-9171",on,62002,9171,1A,0094750,1A-0094750-il,[on],1,on
21131,KROGER LP I,KROGER L-660,R R 5 BOX 1,550 E INDUSTRIAL PARK RD,MURPHYSBORO,IL,62966,JACKSON,1A-0032327,1A - RETAILER,10/31/2019,28721421.0,OFF-PREMISES CONSUMPTION,D. SUPERMARKET,"R R 5 BOX 1 550 E INDUSTRIAL PARK RD, MURPHYSB...",off,62966,None,1A,0032327,1A-0032327-il,[off],1,off
951,"LEISERV, LLC",BOWLERO-RANDALL ROAD,RANDALL ROAD,1611 S RANDALL ROAD,ALGONQUIN,IL,60102,KANE,1A-0080875,1A - RETAILER,01/31/2020,19359365.0,ON-PREMISES CONSUMPTION,P. OTHER,"RANDALL ROAD 1611 S RANDALL ROAD, ALGONQUIN, I...",on,60102,None,1A,0080875,1A-0080875-il,[on],1,on
21140,KROGER LP I,KROGER #642,RR #4 US HWY 45N,NaN,HARRISBURG,IL,62946,SALINE,1A-0032346,1A - RETAILER,10/31/2019,28721421.0,OFF-PREMISES CONSUMPTION,P. OTHER,"RR #4 US HWY 45N , HARRISBURG, IL 62946",off,62946,None,1A,0032346,1A-0032346-il,[off],1,off
3289,STARVED ROCK LODGE AND CONVENTION CENTER LTD,STARVED ROCK LODGE & CONF CTR,RT 178 & RT 71,NaN,UTICA,IL,61373-0000,LA SALLE,1A-0016058,1A - RETAILER,03/31/2020,21030200.0,CONSUMPTION COMBINATION,B. RESTAURANT,"RT 178 & RT 71 , UTICA, IL 61373-0000",off|on,61373,0000,1A,0016058,1A-0016058-il,[off|on],1,off|on
25096,JOSEPH F BOENTE SONS INC,BOENTE SHELL,RT 48 & 127,NaN,RAYMOND,IL,62560-0000,MONTGOMERY,1A-0010319,1A - RETAILER,10/31/2019,9181288.0,OFF-PREMISES CONSUMPTION,C. CONVENIENCE,"RT 48 & 127 , RAYMOND, IL 62560-0000",off,62560,0000,1A,0010319,1A-0010319-il,[off],1,off
18534,"HOST INTERNATIONAL , INC.",PUBLICAN TAVERN K1,TERMINAL 1-CONCB02,11601 W TOUHY,CHICAGO,IL,60666-0000,COOK,1A-0004704,1A - RETAILER,08/31/2019,23866381.0,ON-PREMISES CONSUMPTION,P. OTHER,"TERMINAL 1-CONCB02 11601 W TOUHY, CHICAGO, IL ...",on,60666,0000,1A,0004704,1A-0004704-il,[on],1,on
25092,ILLINOIS AYERS OIL CO,AYERCO CONVENIENCE CENTERS,US HWY 34 NE 34-10-6,NaN,CARMAN,IL,61425-0000,HENDERSON,1A-0010176,1A - RETAILER,11/30/2019,23655.0,OFF-PREMISES CONSUMPTION,I. CONVENIENCE & GAS,"US HWY 34 NE 34-10-6 , CARMAN, IL 61425-0000",off,61425,0000,1A,0010176,1A-0010176-il,[off],1,off

In [ ]:
#import numpy as np
#il_lq['g']= il_lq.groupby(['DBA_Name','DBA_Street1'])['type'].apply(np.unique)
# reset index so we can merge it back,after we create some features
#g=g.reset_index()
#g['n'] = g['type'].agg(np.size)

In [ ]:
il_lq

In [ ]:
il_lq.id.nunique(),il_lq.id.count()

(23847, 23847)

In [ ]:
il_lq.set_index('ID', inplace=True)

In [ ]:
il_lq.rename(columns={'Corp_Name': 'corp_name', 'DBA_Name' :'dba_name', 'DBA_Street1':'street', 'DBA_Street2' :'street2', 
                      'DBA_City' :'city', 'DBA_State' :'state', 'DBA_County' :'county'
                     }, inplace=True)

In [ ]:
il_lq.columns

Index(['corp_name', 'dba_name', 'street', 'street2', 'city', 'state',
       'DBA_Zip', 'county', 'Lic_No', 'License Type', 'Expiration_Date', 'IBT',
       'RetailType', 'BusinessType', 'Address', 'type', 'zip_code',
       'plus_four', 'l_t', 'id', 'lics', 'n', 'p_type'],
      dtype='object')

In [ ]:
il_lq.sample(5)

,corp_name,dba_name,street,street2,city,state,DBA_Zip,county,Lic_No,License Type,Expiration_Date,IBT,RetailType,BusinessType,Address,type,zip_code,plus_four,l_t,id,lics,n,p_type
ID,,,,,,,,,,,,,,,,,,,,,,,
1A-1140077-il,"101 SOUTH COMMERCIAL, LLC",KAY'S PLACE,101 S COMMERCIAL ST,NaN,CENTRALIA,IL,62801-2038,MARION,1A-1140077,1A - RETAILER,08/31/2019,42974283.0,CONSUMPTION COMBINATION,G. BAR/TAVERN,"101 S COMMERCIAL ST , CENTRALIA, IL 62801-2038",off|on,62801,2038,1A,1140077,[off|on],1,off|on
1A-0109797-il,STELLAS FOX LAKE RETAIL CENTER LLC,STELLA'S PLACE,63 S ROUTE 12,NaN,FOX LAKE,IL,60020,LAKE,1A-0109797,1A - RETAILER,03/31/2020,40933997.0,ON-PREMISES CONSUMPTION,B. RESTAURANT,"63 S ROUTE 12 , FOX LAKE, IL 60020",on,60020,None,1A,0109797,[on],1,on
1A-0005046-il,KRYSTAN INC,REGAL BEAGLE,3236 W 55TH ST,SUITE 1,CHICAGO,IL,60632,COOK,1A-0005046,1A - RETAILER,08/31/2019,18955169.0,ON-PREMISES CONSUMPTION,G. BAR/TAVERN,"3236 W 55TH ST SUITE 1, CHICAGO, IL 60632",on,60632,None,1A,0005046,[on],1,on
1A-1124989-il,SCHNELL BROTHERS LLC,SCHNELLS BRAUHAUS,45 W SLADE ST,NaN,PALATINE,IL,60067-5028,COOK,1A-1124989,1A - RETAILER,12/31/2019,41579097.0,ON-PREMISES CONSUMPTION,B. RESTAURANT,"45 W SLADE ST , PALATINE, IL 60067-5028",on,60067,5028,1A,1124989,[on],1,on
1A-1132092-il,"2511 IL-157, LLC",HOTSHOTS SPORTS BAR & GRILL,2511 S STATE ROUTE 157,NaN,EDWARDSVILLE,IL,62025-3637,MADISON,1A-1132092,1A - RETAILER,10/31/2019,42298131.0,ON-PREMISES CONSUMPTION,G. BAR/TAVERN,"2511 S STATE ROUTE 157 , EDWARDSVILLE, IL 6202...",on,62025,3637,1A,1132092,[on],1,on

#### save

In [ ]:
# todo add function to use date in name

In [ ]:
il_lq.to_csv("IL.LiqLic.07.07.2019.csv", encoding='utf-8', index=True)

#### IL Address Verification

In [ ]:
il=il_lq[[ 'street', 'city', 'state', 'zip_code']]

##### submitting bin

In [ ]:
n_splits = len(il.index)//10000 +1

for i, new_df in enumerate(np.array_split(il,n_splits)):
    with open(f"IL.LL.07.07.2019.{i}.csv","w") as fo:
            fo.write(new_df.to_csv(header=False))

In [ ]:
t=pd.read_csv('IL.LL.07.07.2019.0.csv', header=None,index_col=0)

In [ ]:
#!pip install censusgeocode
import censusgeocode as cg

In [ ]:
!curl --form addressFile=@IL.LL.07.07.2019.0.csv --form benchmark=Public_AR_Census2010 --form vintage=Census2010_Census2010  https://geocoding.geo.census.gov/geocoder/geographies/addressbatch --output IL.LL.07.07.2019.geocoderesult0.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1603k  100 1213k  100  389k   1044    334  0:19:53  0:19:50  0:00:03  271k

In [ ]:
!curl --form addressFile=@IL.LL.07.07.2019.1.csv --form benchmark=Public_AR_Census2010 --form vintage=Census2010_Census2010  https://geocoding.geo.census.gov/geocoder/geographies/addressbatch --output IL.LL.07.07.2019.geocoderesult1.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1609k  100 1221k  100  388k   1128    358  0:18:30  0:18:28  0:00:02  302k

In [ ]:
!curl --form addressFile=@IL.LL.07.07.2019.2.csv --form benchmark=Public_AR_Census2010 --form vintage=Census2010_Census2010  https://geocoding.geo.census.gov/geocoder/geographies/addressbatch --output IL.LL.07.07.2019.geocoderesult2.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1607k  100 1217k  100  389k   1049    335  0:19:49  0:19:48  0:00:01  279k

In [ ]:
n_splits

In [ ]:
# for i in n_splits:
#     cg.addressbatch('IL.LL.07.07.2019.0.csv')

In [ ]:
ls

In [ ]:
cat IL.LL.07.07.2019.geocoderesult0.csv IL.LL.07.07.2019.geocoderesult1.csv IL.LL.07.07.2019.geocoderesult2.csv> IL.LL.07.07.2019.geocoderesults.csv

In [ ]:
geocoded=pd.read_csv('IL.LL.07.07.2019.geocoderesults.csv', encoding = "ISO-8859-1",index_col=0,header=None)
#I need to add headers

In [ ]:
geocoded.head(3)

,1,2,3,4,5,6,7,8,9,10,11
0,,,,,,,,,,,
1A-1129102-il,"219 E MAIN ST, BRAIDWOOD, IL, 60408",Match,Exact,"219 E Main St, BRAIDWOOD, IL, 60408","-88.21313,41.264584",111529246.0,L,17.0,197.0,884003.0,2017.0
1A-0019677-il,"3759 N KEDZIE AVE, CHICAGO, IL, 60618",Match,Exact,"3759 N Kedzie Ave, CHICAGO, IL, 60618","-87.70788,41.94954",111757193.0,R,17.0,31.0,160700.0,4005.0
1A-0104946-il,"3000 SOUTH RIVER ROAD, DES PLAINES, IL, 60018",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
nomatch=geocoded[geocoded[3].isnull()]

In [ ]:
nomatchs =nomatch[1].str.split(',', n=3,expand=True)
#len(nomatch)
#['street','city','state','zip_code']

In [ ]:
geocoded

,1,2,3,4,5,6,7,8,9,10,11
0,,,,,,,,,,,
1A-1129102-il,"219 E MAIN ST, BRAIDWOOD, IL, 60408",Match,Exact,"219 E Main St, BRAIDWOOD, IL, 60408","-88.21313,41.264584",111529246.0,L,17.0,197.0,884003.0,2017.0
1A-0019677-il,"3759 N KEDZIE AVE, CHICAGO, IL, 60618",Match,Exact,"3759 N Kedzie Ave, CHICAGO, IL, 60618","-87.70788,41.94954",111757193.0,R,17.0,31.0,160700.0,4005.0
1A-0104946-il,"3000 SOUTH RIVER ROAD, DES PLAINES, IL, 60018",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-0018466-il,"4560 N LINCOLN AVE, CHICAGO, IL, 60625",Match,Exact,"4560 N Lincoln Ave, CHICAGO, IL, 60625","-87.68571,41.964237",111760453.0,L,17.0,31.0,40900.0,1009.0
1A-1133724-il,"4712 147TH ST, MIDLOTHIAN, IL, 60445",Match,Exact,"4712 147th St, MIDLOTHIAN, IL, 60445","-87.735176,41.625267",111825291.0,L,17.0,31.0,824601.0,1021.0
1A-1129584-il,"6559 RTE 162, MARYVILLE, IL, 62062",Match,Non_Exact,"6559 State Rte 162, MARYVILLE, IL, 62062","-89.95829,38.73818",635635193.0,L,17.0,119.0,403533.0,3057.0
1A-0087373-il,"1332 N MILWAUKEE AVE, CHICAGO, IL, 60622",Match,Exact,"1332 N Milwaukee Ave, CHICAGO, IL, 60622","-87.670586,41.905956",111764813.0,L,17.0,31.0,241400.0,3003.0
1A-0092724-il,"862 STATE HIGHWAY 34, HEROD, IL, 62947",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-1133609-il,"150 E STATION ST, KANKAKEE, IL, 60901",Match,Exact,"150 E Station St, KANKAKEE, IL, 60901","-87.86507,41.11778",98356419.0,R,17.0,91.0,12300.0,1025.0
1A-0018340-il,"815 W 35TH ST, CHICAGO, IL, 60609",Match,Exact,"815 W 35th St, CHICAGO, IL, 60609","-87.64646,41.830734",605494805.0,L,17.0,31.0,839900.0,2000.0
1A-1141472-il,"118 S STATE ST, JERSEYVILLE, IL, 62052",Match,Exact,"118 S State St, JERSEYVILLE, IL, 62052","-90.32707,39.11882",97876804.0,L,17.0,83.0,10401.0,1016.0
1A-1137091-il,"1715 FREEDOM DR, NAPERVILLE, IL, 60563",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-1141231-il,"9642 S WESTERN AVE, EVERGREEN PARK, IL, 60805",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-0019792-il,"607 NE 13TH ST, CASEY, IL, 62420",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-1141357-il,"501 MAIN ST, PEORIA, IL, 61602",Match,Exact,"501 Main St, PEORIA, IL, 61602","-89.59171,40.69383",8720182.0,L,17.0,143.0,1200.0,1065.0
1B-1138021-il,"302 N GREEN ST, CHICAGO, IL, 60607",Match,Exact,"302 N Green St, CHICAGO, IL, 60607","-87.6487,41.886883",111767950.0,L,17.0,31.0,833000.0,1021.0
1A-0098398-il,"1200 E TWIN LAKES DR, PALATINE, IL, 60074",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-1121741-il,"2435 WASHINGTON ST, WAUKEGAN, IL, 60085",Match,Exact,"2435 Washington St, WAUKEGAN, IL, 60085","-87.8632,42.35947",119641576.0,L,17.0,97.0,862604.0,1004.0
1A-0077571-il,"202 EASTWOOD DR, MAHOMET, IL, 61853",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-0110157-il,"5257 SWANSON RD, ROSCOE, IL, 61073",Match,Exact,"5257 Swanson Rd, ROSCOE, IL, 61073","-89.01434,42.39195",49293105.0,R,17.0,201.0,3805.0,2074.0
1A-1132881-il,"205 REC PLEX DR, O FALLON, IL, 62269",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-1121970-il,"109 E CARROLL ST, LANARK, IL, 61046",Match,Exact,"109 E Carroll St, LANARK, IL, 61046","-89.83273,42.10298",27680307.0,R,17.0,15.0,960100.0,4018.0
1A-0039053-il,"100 ELM DR, EDWARDSVILLE, IL, 62025",Match,Exact,"100 Elm Dr, EDWARDSVILLE, IL, 62025","-89.94127,38.92008",107744867.0,L,17.0,119.0,402802.0,2130.0
1A-1141104-il,"725A BROADWAY ST, LINCOLN, IL, 62656",Match,Exact,"725 Broadway St, LINCOLN, IL, 62656","-89.361275,40.1459",22455613.0,L,17.0,107.0,953200.0,4031.0
1A-0109271-il,"226 SOUTHTOWNE SHOPPING CTR, DU QUOIN, IL, 62832",Match,Non_Exact,"226 Southtowne Shopping Ctrr, DU QUOIN, IL, 62832","-89.23603,37.995388",93120879.0,R,17.0,145.0,30600.0,3046.0
1A-0098157-il,"399 WESLEY DR, WOOD RIVER, IL, 62095",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-0066316-il,"3500 KINGSHIGHWAY, FAIRMONT CITY, IL, 62201",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1G-0080277-il,"BURNHAM PARK HARBOR, CHICAGO, IL, 60605",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-1133838-il,"2950 FINLEY RD, DOWNERS GROVE, IL, 60515",Match,Exact,"2950 Finley Rd, DOWNERS GROVE, IL, 60515","-88.02578,41.835102",112532770.0,R,17.0,43.0,844305.0,3018.0
1A-1133851-il,"1100 S ELMHURST RD, MOUNT PROSPECT, IL, 60056",Match,Non_Exact,"1100 N Elmhurst Rd, MT PROSPECT, IL, 60056","-87.93681,42.085632",111719654.0,L,17.0,31.0,802701.0,1017.0
...,...,...,...,...,...,...,...,...,...,...,...
1A-0085392-il,"72 AIRPORT PLAZA, BETHALTO, IL, 62010",Match,Exact,"72 Airport Plz, BETHALTO, IL, 62010","-90.05686,38.901573",107719991.0,R,17.0,119.0,401722.0,1010.0
1A-1132708-il,"8031 W 87TH ST, HICKORY HILLS, IL, 60457",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-1132136-il,"1600 N MILWAUKEE AVE, CHICAGO, IL, 60647",Match,Exact,"1600 N Milwaukee Ave, CHICAGO, IL, 60647","-87.67757,41.910423",111764172.0,L,17.0,31.0,240500.0,1026.0
1A-0065212-il,"1509 N RAND RD, PALATINE, IL, 60074",Match,Exact,"1509 Rand Rd, PALATINE, IL, 60074","-88.01976,42.137684",611131032.0,R,17.0,31.0,803606.0,3004.0
1A-0005864-il,"1801 BROADWAY ST, QUINCY, IL, 62301",Match,Exact,"1801 Broadway St, QUINCY, IL, 62301","-91.38697,39.935574",35064233.0,R,17.0,1.0,600.0,2002.0
1A-0080266-il,"933 S RIVERSIDE DR, ELMHURST, IL, 60126",Match,Exact,"933 Riverside Dr, ELMHURST, IL, 60126","-87.95886,41.87048",112706619.0,L,17.0,43.0,844601.0,3008.0
1A-0090918-il,"1200 W MAIN ST, PEORIA, IL, 61606",Match,Exact,"1200 W Main St, PEORIA, IL, 61606","-89.61184,40.699764",8716726.0,L,17.0,143.0,1800.0,3017.0
1A-1136112-il,"119 W MAIN ST, INDUSTRY, IL, 61440",Match,Exact,"119 W Main St, INDUSTRY, IL, 61440","-90.6076,40.32758",5372464.0,L,17.0,109.0,11000.0,3133.0
1A-0010831-il,"3707 E 106TH ST, CHICAGO, IL, 60617",Match,Exact,"3707 E 106th St, CHICAGO, IL, 60617","-87.533775,41.70274",605587738.0,L,17.0,31.0,520400.0,4018.0
1A-1139529-il,"840 S WAUKEGAN RD, LAKE FOREST, IL, 60045",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-0009653-il,"3400 RIVER RD, FRANKLIN PARK, IL, 60131",Match,Exact,"3400 River Rd, FRANKLIN PARK, IL, 60131","-87.85266,41.940067",111746309.0,L,17.0,31.0,811500.0,1008.0
1B-1132563-il,"940 PITNER AVE, EVANSTON, IL, 60202",Match,Exact,"940 Pitner Ave, EVANSTON, IL, 60202","-87.70553,42.034832",111844987.0,L,17.0,31.0,809700.0,3025.0
1A-1136680-il,"2261 N MILWAUKEE AVE, CHICAGO, IL, 60647",Match,Exact,"2261 N Milwaukee Ave, CHICAGO, IL, 60647","-87.696,41.922085",111762645.0,R,17.0,31.0,221400.0,2001.0
1A-1136493-il,"11427 COMMERCIAL ST, RICHMOND, IL, 60071",Match,Non_Exact,"11427 Commercial Ave, RICHMOND, IL, 60071","-88.30809,42.48774",119841617.0,R,17.0,111.0,870101.0,2027.0
1G-0055615-il,"400 N MICHIGAN AVE, CHICAGO, IL, 60611",Match,Exact,"400 N Michigan Ave, CHICAGO, IL, 60611","-87.62437,41.88895",616783790.0,L,17.0,31.0,81500.0,3013.0
1A-1132510-il,"230 N STATE HIGHWAY 1, WEST UNION, IL, 62477",Match,Non_Exact,"230 N State Hwy 1, WEST UNION, IL, 62477","-87.67998,39.17325",605662475.0,R,17.0,23.0,60100.0,6132.0
1A-0055517-il,"2131 183RD STREET, HOMEWOOD, IL, 60430",Match,Exact,"2131 183rd St, HOMEWOOD, IL, 60430","-87.6689,41.557228",111709529.0,L,17.0,31.0,828601.0,4002.0
1A-0011782-il,"280 W 3RD ST, ADDIEVILLE, IL, 62214",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-0097553-il,"5 W IRVING PARK RD, BENSENVILLE, IL, 60106",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-0102729-il,"132 S ASHLAND AVE, CHICAGO, IL, 60607",Match,Exact,"132 S Ashland Ave, CHICAGO, IL, 60607","-87.666855,41.879738",111766296.0,R,17.0,31.0,838100.0,1007.0
1A-0092054-il,"8712 SOUTH STONY ISLAND AVE, CHICAGO, IL, 60617",Match,Exact,"8712 S Stony Island Ave, CHICAGO, IL, 60617","-87.585655,41.73662",111775350.0,R,17.0,31.0,480200.0,1000.0
1A-1124137-il,"17 W MAIN ST, OAKDALE, IL, 62268",Match,Exact,"17 W Main St, OAKDALE, IL, 62268","-89.5037,38.26167",93156718.0,R,17.0,189.0,950400.0,4065.0
1A-0006434-il,"1930 W FOSTER AVE, CHICAGO, IL, 60640",Match,Exact,"1930 W Foster Ave, CHICAGO, IL, 60640","-87.67776,41.97607",605185586.0,R,17.0,31.0,40100.0,2020.0
1A-0097366-il,"3929 W WAR MEMORIAL DR, PEORIA, IL, 61615",Match,Non_Exact,"3929 War Memorial Dr, PEORIA, IL, 61614","-89.61777,40.734314",8721306.0,R,17.0,143.0,2800.0,2001.0
1A-1139716-il,"21720 W LONG GROVE RD, DEER PARK, IL, 60010",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1A-0074547-il,"149 W LINCOLN AVE, HINCKLEY, IL, 60520",Match,Exact,"149 W Lincoln Ave, HINCKLEY, IL, 60520","-88.64168,41.768997",52262398.0,L,17.0,37.0,1700.0,2036.0
1A-0091103-il,"2015 S MOUNT ZION RD, DECATUR, IL, 62521",Match,Exact,"2015 S Mount Zion Rd, DECATUR, IL, 62521","-88.87823,39.818577",610720566.0,R,17.0,115.0,2402.0,4000.0
1A-1121486-il,"1302 AVENUE OF MID AMERICA, EFFINGHAM, IL, 62401",Match,Non_Exact,"1302 Ave of Mid-America, EFFINGHAM, IL, 62401","-88.55936,39.139683",94769366.0,R,17.0,49.0,950700.0,1040.0
1A-1121299-il,"980 E GRAND AVE, LAKE VILLA, IL, 60046",Match,Exact,"980 Grand Ave, LAKE VILLA, IL, 60046","-88.05803,42.415443",119670725.0,L,17.0,97.0,861012.0,1076.0
1A-0007572-il,"440 E GRAND AVE, CHICAGO, IL, 60611",Match,Exact,"440 E Grand Ave, CHICAGO, IL, 60611","-87.61598,41.891888",605072879.0,L,17.0,31.0,81402.0,1009.0

In [ ]:
nomatchs.head(5)

                                   0                1    2       3
0
1A-0104946-il  3000 SOUTH RIVER ROAD      DES PLAINES   IL   60018
1A-0092724-il   862 STATE HIGHWAY 34            HEROD   IL   62947
1A-1137091-il        1715 FREEDOM DR       NAPERVILLE   IL   60563
1A-1141231-il     9642 S WESTERN AVE   EVERGREEN PARK   IL   60805
1A-0019792-il         607 NE 13TH ST            CASEY   IL   62420

In [ ]:
noadds2=nomatch2[['street','city','state','zip_code']]
noadds2.head(3)

                              street          city state zip_code
0
1A-0104946-il  3000 SOUTH RIVER ROAD   DES PLAINES    IL    60018
1A-0092724-il   862 STATE HIGHWAY 34         HEROD    IL    62947
1A-1137091-il        1715 FREEDOM DR    NAPERVILLE    IL    60563

In [ ]:
len(nomatch), len(nomatch2)

(7496, 4556)

In [ ]:
ls

In [ ]:
n_splits = len(noadds2.index)//10000 +1

for i, new_df in enumerate(np.array_split(noadds,n_splits)):
    with open(f"tryagain.{i}.csv","w") as fo:
            fo.write(new_df.to_csv())

In [ ]:
!curl --form addressFile=@tryagain.0.csv --form benchmark=Public_AR_Census2010 --form vintage=Census2010_Census2010  https://geocoding.geo.census.gov/geocoder/geographies/addressbatch --output IL.tryagain.0.geocoderesult.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1283k  100  953k  100  329k    767    264  0:21:17  0:21:13  0:00:04  261k

In [ ]:
geocoded2=pd.read_csv('IL.tryagain.0.geocoderesult.csv', encoding = "ISO-8859-1")
#I need to add headers

In [ ]:
nomatch2=geocoded2[geocoded2['No_Match'].isnull()]
match2 = geocoded2[geocoded2['No_Match'].notnull()]
#nomatch2=geocoded2[geocoded2[3].isnull()]
#match2=geocoded2[geocoded2[3].notnull()]
#len(nomatch2), len(match2), len(nomatch2)+ len(match2), len(nomatch)

In [ ]:
len(nomatch2),len(match2), len(nomatch), len(match)

NameError: ignored

In [ ]:

nomatch[['street','city','state','zip_code']] =nomatch['219 E MAIN ST, BRAIDWOOD, IL, 60408'].str.split(',', n=3,expand=True)

In [ ]:
!curl --form addressFile=@adds0.csv --form benchmark=Public_AR_Census2010 --form vintage=Census2010_Census2010  https://geocoding.geo.census.gov/geocoder/geographies/addressbatch --output geocoderesult.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1513k  100 1122k  100  390k    680    236  0:28:16  0:28:09  0:00:07  263k

In [ ]:
IL_batch

###MI Liquor Licences

SoM_LGUs are restrictions, there dont seem to be an easy way to get this information because of layout, but it might be fun to see the impact of restrictions 

[Licensing Lists](https://www.michigan.gov/lara/0,4601,7-154-89334_10570_12905---,00.html)

[Sunday Sales Opt Out List ](https://www.michigan.gov/documents/lara/Master_Sunday_Sales_List_04-21-2015_487505_7.pdf)

In [ ]:
#MI restrictions	
#!wget --header="Host: customers.mlcc.michigan.gov" --header="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3" --header="Accept-Language: en-US,en;q=0.9" --header="Referer: https://customers.mlcc.michigan.gov/SoM_ActiveEscrowLicenseList" --header="Cookie: _ga=GA1.2.1848601613.1554374262; _gid=GA1.2.50949381.1554374262; _gat_UA-25583843-1=1; pctrk=c7f87c41-99ff-46e8-b350-6eef9edeb782" --header="Connection: keep-alive" "https://customers.mlcc.michigan.gov/SoM_LGUs" -O "MLCC AIMS - LGUs.csv" -c

In [ ]:
# doesnt include the restrictons
#mi_lq_retail_license_quota = pd.read_excel('MLCC AIMS - LGUs.xlsx')

In [ ]:
#updated weekly:   https://www.michigan.gov/lara/0,4601,7-154-89334_10570_12905---,00.html

!wget https://www.michigan.gov/documents/lara/liclist_639292_7.xlsx

--2019-04-29 07:53:47--  https://www.michigan.gov/documents/lara/liclist_639292_7.xlsx
Resolving www.michigan.gov (www.michigan.gov)... 23.44.154.155
Connecting to www.michigan.gov (www.michigan.gov)|23.44.154.155|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘liclist_639292_7.xlsx’

liclist_639292_7.xl     [  <=>               ]   3.20M   174KB/s    in 19s

2019-04-29 07:54:06 (175 KB/s) - ‘liclist_639292_7.xlsx’ saved [3351830]

In [ ]:
mi_lq= pd.read_excel("liclist_639292_7.xlsx", header=1)

In [ ]:
mi_lq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32976 entries, 0 to 32975
Data columns (total 15 columns):
LARA Business ID                   32976 non-null int64
Business Status                    32976 non-null object
Account Name                       32976 non-null object
DBA                                28835 non-null object
County: County                     32976 non-null object
Current LGU: LGU Name              32966 non-null object
Address                            32972 non-null object
Group                              32976 non-null object
Type                               32976 non-null object
Subtype                            13195 non-null object
Statute                            3448 non-null object
Status                             32976 non-null object
Number                             32976 non-null object
Statute: Ownership Transferable    32248 non-null object
Statute: Location Transferable     32248 non-null object
dtypes: int64(1), object(14)
memory usage: 3.8+ MB

In [ ]:
mi_lq["Status"].unique(), mi_lq["Business Status"].unique(), mi_lq["Group"].unique(), mi_lq["Subtype"].unique(), mi_lq["Type"].describe(), mi_lq["Type"].unique()

In [ ]:
mi_lq = mi_lq[mi_lq.Status == "Active"]
mi_lq = mi_lq[mi_lq["Business Status"] == "Active"]

 EXTRACT NUMBERS
>df['weekNo'] = df['Financial Week Name'].str.extract('(\d+)').astype(int)

numpy has a nice way of using conditional:
  >  df['profitable'] = np.where(df['price']>=15.00, True, False)
    
reverse it
>df['Address'].str.rsplit(',', 2, expand=True)[1]
 
 did
>mi_lq['comma_count'] = mi_lq.Address.str.count(',')
mi_lq[['address','city','state_zip']]= mi_lq['Address'].str.split(',',expand=True)      
mi_lq[['address','street2','city','state_zip']] = mi_lq['Address'].str.split(',',expand=True)  
df[['address','street2','city','state_zip']] = df.loc[df['comma_count'] == 3].Address.str.split(',',expand=True) 
mi_lq[['street','city','state_zip']]=mi_lq['Address'].str.rsplit(',', 2, expand=True)
df['Address'].str.split(',',expand=True)
30000=2, 30ish=3, 3ish=4, 2(street,city, state zip) 3(steet, street2,city,state zip) 4(uhhhh....delete)
df[['address','street2','street3','city','state_zip']] = df.loc[df['comma_count'] == 4].Address.str.split(',',expand=True)   
df['Address']=df['Address'].str.replace(" United States","")
df.loc[df['comma_count'] == 4]

In [ ]:
!pip install pandas_usaddress
import pandas_usaddress

Collecting pandas_usaddress
  Downloading https://files.pythonhosted.org/packages/fe/b7/7734c959d133d63179903d9b06d8fd11aefba1298e511deb0c601cbb93bc/pandas_usaddress-0.21-py3-none-any.whl (320kB)
    100% |████████████████████████████████| 327kB 31.9MB/s
Collecting usaddress (from pandas_usaddress)
  Downloading https://files.pythonhosted.org/packages/d3/6c/3da44f6f41834cd4c2c0fadf29d11e8493bcf80811f5bd9ec542a08b9996/usaddress-0.5.10-py2.py3-none-any.whl (63kB)
    100% |████████████████████████████████| 71kB 35.1MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandas_usaddress) (0.24.2)
Requirement already satisfied: future>=0.14 in /usr/local/lib/python3.6/dist-packages (from usaddress->pandas_usaddress) (0.16.0)
Collecting probableparsing (from usaddress->pandas_usaddress)
  Downloading https://files.pythonhosted.org/packages/e1/6b/91255cbf739a835df41af530a36798397d70342d152b773b5b0fe3001843/probableparsing-0.0.1-py2.py3-none-any.whl
Collecting python-crfsuite>=0.7 (from usaddress->pandas_usaddress)
  Downloading https://files.pythonhosted.org/packages/2f/86/cfcd71edca9d25d3d331209a20f6314b6f3f134c29478f90559cee9ce091/python_crfsuite-0.9.6-cp36-cp36m-manylinux1_x86_64.whl (754kB)
    100% |████████████████████████████████| 757kB 27.4MB/s
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->pandas_usaddress) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->pandas_usaddress) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas->pandas_usaddress) (1.16.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas->pandas_usaddress) (1.12.0)
Installing collected packages: probableparsing, python-crfsuite, usaddress, pandas-usaddress
Successfully installed pandas-usaddress-0.21 probableparsing-0.0.1 python-crfsuite-0.9.6 usaddress-0.5.10

In [ ]:
#initiate usaddress
mi_lq = pandas_usaddress.tag(mi_lq, ['Address'], granularity='low', standardize=True)

In [ ]:
mi_lq=mi_lq[mi_lq['StateName']=='mi']
#mi_lq=mi_lq[mi_lq['County: County']!='OUTSTATE']

In [ ]:
mi_lq=mi_lq.loc[(mi_lq['Group']!='Manufacturer')& (mi_lq['Group']!='Wholesale')]

In [ ]:
mi_lq[['zip_code','zip_p_four']]= mi_lq['ZipCode'].str.split('-',expand=True)

In [ ]:
#concat AddressNumber and StreetTag

In [ ]:
mi_lq

In [ ]:
rename columns
PlaceName = city
StateName = state

In [ ]:
mi_lq['type'] = mi_lq['Group'].apply(lambda x: 'Retail - Off Premises' if x in ['Retail - Off Premises','Retail - Off Premise'] else "Retail - On Premise")

In [ ]:
mi_lq

In [ ]:
import numpy as np
g= mi_lq.groupby('LARA Business ID')['Group'].apply(np.unique)
g=g.reset_'License Type'index()
g['n'] = g.Group.agg(np.size)

In [ ]:
mi_lqq=pd.concat([mi_lq.set_index('LARA Business ID'),g.set_index('LARA Business ID')], axis=1, join='inner').reset_index()

In [ ]:
g['on'] = np.where(g['n']==2, 'Retail-On Premises', None)

In [ ]:
mi_lqq.sort_values('LARA Business ID')

In [ ]:
import numpy as np

In [ ]:
#if DBA=NAN, than Account Name=DBA
mi_lq.DBA = np.where(mi_lq.DBA.isna(), mi_lq['Account Name'], mi_lq.DBA)
#or
#mi_lq.loc[mi_lq['DBA'].isna(),'DBA' ] = mi_lq[ mi_lq['DBA'].isna() ]['Account Name']

In [ ]:
create ID

In [ ]:
import pandas_profiling
pandas_profiling.ProfileReport(mi_lq)

In [ ]:
mi_lq[:].nunique()

Tax data for MI Brewers and wine makers can be found [Here ](https://www.michigan.gov/lara/0,4601,7-154-89334_10570_66999-466571--,00.html), and has licence number so we could combine it with licence data.

MI also has a "Michigan Liquor Control Commission, New Item Price List" that includes(ADA_NO. ,  CODE#  ,  BRAND NAME,  PROOF,  SIZE_IN_ML  ,  PACK_SIZE ,  BASE_PRICE,  LICENSEE_PRICE,  MINIMUM_SHELF_ PRICE)

searchable version @ http://w1.lara.state.mi.us/LiquorControlPriceList/

or txt file:
http://w1.lara.state.mi.us/MLCCFiles/image/webprbk.txt

In [ ]:
# Michigan Counties and their Corresponding
# County Code Numbers(Liquor Control Commission) https://www.michigan.gov/documents/CIS_Cis_LCC_counties_26989_7.pdf

Mi_Counties = {1 : 'ALCONA', 2 : 'ALGER', 3 : 'ALLEGAN', 4 : 'ALPENA', 5 : 'ANTRIM', 7 : 'BARAGA', 8 : 'BARRY', 
                  9 : 'BAY', 10 : 'BENZIE', 11 : 'BERRIEN', 12 : 'BRANCH', 13 : 'CALHOUN', 14 : 'CASS', 15 : 'CHARLEVOIX', 
                  16 : 'CHEBOYGAN', 17 : 'CHIPPEWA', 18 : 'CLARE', 19 : 'CLINTON', 20 : 'CRAWFORD',21 : 'DELTA', 
                  22 : 'DICKINSON', 23 : 'EATON', 24 : 'EMMET', 25 : 'GENESEE', 26 : 'GLADWIN', 27 : 'GOGEBIC', 
                  28 : 'GRAND TRAVERSE', 29 : 'GRATIOT', 30 : 'HILLSDALE', 31 : 'HOUGHTON', 32 : 'HURON', 33 : 'INGHAM', 
                  34 : 'IONIA', 35 : 'IOSCO',36 : 'IRON', 37 : 'ISABELLA', 38 : 'JACKSON', 39 : 'KALAMAZOO', 40 : 'KALKASKA',
                  41 : 'KENT', 42 : 'KEWEENAW',43 : 'LAKE',44 : 'LAPEER',45 : 'LEELANAU',46 : 'LENAWEE',47 : 'LIVINGSTON',
                  48 : 'LUCE',49 : 'MACKINAC',50 : 'MACOMB',51 : 'MANISTEE',52 : 'MARQUETTE',53 : 'MASON',54 : 'MECOSTA',
                  55 : 'MENOMINEE',56 : 'MIDLAND',57 : 'MISSAUKEE',58 : 'MONROE',59 : 'MONTCALM',60 : 'MONTMORENCY',
                  61 : 'MUSKEGON',62 : 'NEWAYGO',63 : 'OAKLAND',64 : 'OCEANA',65 : 'OGEMAW',66 : 'ONTONAGON',
                  67 : 'OSCEOLA',68 : 'OSCODA',69 : 'OTSEGO',70 : 'OTTAWA',71 : 'PRESQUE ISLE',72 : 'ROSCOMMON',
                  73 : 'SAGINAW',74 : 'ST. CLAIR',75 : 'ST. JOSEPH',76 : 'SANILAC',77 : 'SCHOOLCRAFT',78 : 'SHIAWASSEE',
                  79 : 'TUSCOLA',80 : 'VAN BUREN',81 : 'WASHTENAW',82 : 'WAYNE',83 : 'WEXFORD'}

In [ ]:
'corp_name', 'dba_name', 'street', 'street2', 'city', 'state',
       'zip_code', 'county', 'retail_off_premises'

##cenpy

In [ ]:
datasets = list(cen.explorer.available(verbose=True).items())

pd.DataFrame(datasets)

In [ ]:
cenlist=cen.explorer.available()

In [ ]:
cenlist = pd.DataFrame(cenlist)
#cenlist['modified'][0], type(cenlist['modified'][0])
#cenlist['modified']= pd.to_datetime(cenlist['modified']) 
#print(cenlist['modified'][0], type(cenlist['modified'][0]))
cenlist.head(3)

In [ ]:
cenlist['modified']= pd.to_datetime(cenlist['modified']) 
print(cenlist['modified'][0], type(cenlist['modified'][0]))

2017-02-09 00:00:00 <class 'pandas._libs.tslib.Timestamp'>

In [ ]:
pd.set_option('display.max_columns', None)  
pd.set_option('display.max_rows', None) 
#pd.reset_option('display.max_colwidth')
cenlist.head()

In [ ]:
#cenlist[(cenlist['modified'] > '2018-01-01') & (cenlist['modified'] < '2017-01-01')]

#cenlist = cenlist[(cenlist['modified'] > '2018-07-01')] 
#cenlist = cenlist[(cenlist['c_isTimeseries']!= True )] 
#cenlist["c_dataset_str"] = ''.join(map(str, cenlist['c_dataset']))

cenlist['c_dataset_str'] = cenlist['c_dataset'].apply(lambda x: ', '.join(x))
cenlist[cenlist["c_dataset_str"].str.contains("acs")].sort_values(by='modified',ascending=False )

#temp=cenlist[cenlist["c_dataset_str"].str.contains("poverty")]
#cenlist = cenlist[(cenlist['vintage'] > 2016)] 

#temp.sort_values(by='modified', )
#cenlist

Time Series International Database: International Populations by 5 Year Age Groups and Sex    
- https://api.census.gov/data/timeseries/idb/5year

Time Series Economic Indicators Time Series -: Construction Spending
- https://api.census.gov/data/timeseries/eits/vip

Time Series Economic Indicators Time Series -: New Home Sales
- https://api.census.gov/data/timeseries/eits/ressales

Time Series Economic Indicators Time Series -: New Residential Construction
- https://api.census.gov/data/timeseries/eits/resconst

Time Series Economic Indicators Time Series -: Quarterly Summary of State and Local Taxes
- https://api.census.gov/data/timeseries/eits/qtax

Time Series Economic Indicators Time Series -: Quarterly Services Survey
- 	https://api.census.gov/data/timeseries/eits/qss

Others
- Time Series Economic Indicators Time Series -: Quarterly Survey of Public Pensions

- Time Series Economic Indicators Time Series -: Quarterly Financial Report

- Time Series Economic Indicators Time Series -: Monthly Wholesale Trade: Sales and Inventories
- Time Series Economic Indicators Time Series -: Manufacturing and Trade Inventories and Sales
- Time Series Economic Indicators Time Series -: Monthly Retail Trade and Food Services
- Time Series Economic Indicators Time Series -: Manufactured Homes Survey
- Time Series Economic Indicators Time Series -: Advance Monthly Sales for Retail and Food Services

- Time Series Economic Indicators Time Series -: Manufacturers Shipments, Inventories, and Orders

- Time Series Economic Indicators Time Series -: Housing Vacancies and Homeownership

- Time Series Business Dynamics Statistics: Firm Statistics Business Dynamics Statistics (BDS

- 2016 County Business Patterns - Zip Code Business Patterns: Total For Zip Code

Data sets can be found here(https://api.census.gov/data.html)


ACS 5-Year Detailed Tables
- The American Community Survey (ACS) is an ongoing survey that provides data every year -- giving communities the current information they need to plan investments and services. The ACS covers a broad range of topics about social, economic, demographic, and housing characteristics of the U.S. population. Summary files include the following geographies: nation, all states (including DC and Puerto Rico), all metropolitan areas, all congressional districts (114th congress), all counties, all places, and all tracts and block groups. Summary files contain the most detailed cross-tabulations, many of which are published down to block groups. The data are population and housing counts. There are over 64,000 variables in this dataset.  

ACS 5-Year Comparison Profiles 
 - The American Community Survey (ACS) is an ongoing survey that provides data every year -- giving communities the current information they need to plan investments and services. The ACS covers a broad range of topics about social, economic, demographic, and housing characteristics of the U.S. population. The comparison profiles include the following geographies: nation, all states (including DC and Puerto Rico), all metropolitan areas, all congressional districts, all counties and all places with a population of 5,000 or more. Comparison profiles are similar to data profiles but also include comparisons with past-year data. The current year data are compared with prior 5-Year data and include statistical significance testing. There are over 3,000 variables in this dataset.  

ACS 5-Year Data Profiles    
 - The American Community Survey (ACS) is an ongoing survey that provides data every year -- giving communities the current information they need to plan investments and services. The ACS covers a broad range of topics about social, economic, demographic, and housing characteristics of the U.S. population. The data profiles include the following geographies: nation, all states (including DC and Puerto Rico), all metropolitan areas, all congressional districts, all counties, all places and all tracts. Data profiles contain broad social, economic, housing, and demographic information. The data are presented as both counts and percentages. There are over 2,400 variables in this dataset.  
 
 ACS 5-Year Subject Tables  
 - The American Community Survey (ACS) is an ongoing survey that provides data every year -- giving communities the current information they need to plan investments and services. The ACS covers a broad range of topics about social, economic, demographic, and housing characteristics of the U.S. population. The subject tables include the following geographies: nation, all states (including DC and Puerto Rico), all metropolitan areas, all congressional districts, all counties, all places and all tracts. Subject tables provide an overview of the estimates available in a particular topic. The data are presented as both counts and percentages. There are over 66,000 variables in this dataset.

In [ ]:
import pandas as pd
import cenpy as cen
import pysal

### ZBP (Zip Code Business Patterns)
#### (in-procees)

### I want detail NAICS Industry Code, it returns summary

In [ ]:
2016 County Business Patterns - Zip Code Business Patterns: Total For Zip Code
#ZIP Code Business Patterns (ZBP) is an annual series that provides economic data by ZIP Code. 
#This table includes the number of establishments, employment during the week of March 12,
#first quarter payroll, and annual payroll for All Industries by 5-digit ZIP Code. 
#All Industries is set using SIC=00 from 1994 to 1997 and then with NAICS=00 from 1998 to present

	https://api.census.gov/data/2016/zbp

In [ ]:
api = 'ZBPTotal2016'
cen.explorer.explain(api)

{'2016 County Business Patterns - Zip Code Business Patterns: Total For Zip Code': 'ZIP Code Business Patterns (ZBP) is an annual series that provides economic data by ZIP Code.  This table includes the number of establishments, employment during the week of March 12, first quarter payroll, and annual payroll for All Industries by 5-digit ZIP Code.  All Industries is set using SIC=00 from 1994 to 1997 and then with NAICS=00 from 1998 to present.'}

In [ ]:
api_conn = cen.base.Connection(api)
api_conn

Connection to 2016 County Business Patterns - Zip Code Business Patterns: Total For Zip Code (ID: http://api.census.gov/data/id/ZBPTotal2016)

In [ ]:
# Find the required fields
# The query will fail if these are not passed as keyword arguments. we can use a wild card(*)

api_conn.variables[~ api_conn.variables.required.isnull()]

,concept,group,label,limit,predicateOnly,predicateType,required
EMPSZES,Employer Statistics,N/A,Employment size of establishment,10,NaN,string,default displayed
NAICS2012,Industry classification,N/A,NAICS Industry Code,2016,NaN,string,default displayed

In [ ]:
api_conn.variables

In [ ]:
api_conn.geographies.keys()

dict_keys(['fips'])

In [ ]:
api_conn.geographies['fips']

  geoLevelId  limit     name
0        861  38792  zipcode

In [ ]:
print ('Attributes in the zbp:', api_conn.variables.shape[0])
api_conn.variables

In [ ]:
cols = api_conn.varslike('EMP',engine='fnmatch')
cols.extend(['EMPSZES_TTL','ESTAB','FOOTID_GEO','FOOTID_NAICS','GEOTYPE','GEO_ID','GEO_TTL','NAICS2012_TTL','PAYANN','ST','YEAR','ZIPCODE']) #'NAICS2012', 'EMPSZES'

In [ ]:
cols_detail = pd.DataFrame(api_conn.variables.label)
cols_detail.sample(5)

                                           label
ESTAB_F  Flag for Total number of Establishments
EMPSZES         Employment size of establishment
PAYQTR1              Total First Quarter Payroll
GEO_TTL                       Title of Geography
ZIPCODE                                 FIPS Zip

In [ ]:
data =  api_conn.query(cols=cols, geo_unit='zipcode:*')

In [ ]:
data.sample(10)

,EMP,EMPSZES_TTL,ESTAB,FOOTID_GEO,FOOTID_NAICS,GEOTYPE,GEO_ID,GEO_TTL,NAICS2012_TTL,PAYANN,ST,YEAR,ZIPCODE,zipcode
13436,53,All establishments,7,None,None,14,8610000US34445,"34445(HOLDER,FL)",Total for all sectors,1220,12,2016,34445,34445
1614,0,All establishments,3,None,None,14,8610000US05439,"05439(COLCHESTER,VT)",Total for all sectors,0,50,2016,05439,05439
32305,10829,All establishments,732,None,None,14,8610000US80246,"80246(DENVER,CO)",Total for all sectors,476028,08,2016,80246,80246
5026,1708,All establishments,12,None,None,14,8610000US15077,"15077(SHIPPINGPORT,PA)",Total for all sectors,144566,42,2016,15077,15077
26902,32,All establishments,3,None,None,14,8610000US67364,"67364(TYRO,KS)",Total for all sectors,605,20,2016,67364,67364
12428,9917,All establishments,851,None,None,14,8610000US32503,"32503(PENSACOLA,FL)",Total for all sectors,389126,12,2016,32503,32503
34150,6,All establishments,4,None,None,14,8610000US87044,"87044(PONDEROSA,NM)",Total for all sectors,171,35,2016,87044,87044
4710,547,All establishments,92,None,None,14,8610000US14487,"14487(LIVONIA,NY)",Total for all sectors,14843,36,2016,14487,14487
1749,4992,All establishments,368,None,None,14,8610000US05819,"05819(SAINT JOHNSBURY,VT)",Total for all sectors,202078,50,2016,05819,05819
30181,7783,All establishments,546,None,None,14,8610000US75670,"75670(MARSHALL,TX)",Total for all sectors,248633,48,2016,75670,75670

In [ ]:
 data.head(5)

,EMP,EMPSZES_TTL,ESTAB,FOOTID_GEO,FOOTID_NAICS,GEOTYPE,GEO_ID,GEO_TTL,NAICS2012_TTL,PAYANN,ST,YEAR,ZIPCODE,zipcode
0,0,All establishments,2,None,None,14,8610000US00501,"00501(HOLTSVILLE,NY)",Total for all sectors,0,36,2016,00501,00501
1,9127,All establishments,472,None,None,14,8610000US01001,"01001(AGAWAM,MA)",Total for all sectors,376492,25,2016,01001,01001
2,18894,All establishments,564,None,None,14,8610000US01002,"01002(AMHERST,MA)",Total for all sectors,472633,25,2016,01002,01002
3,288,All establishments,21,None,None,14,8610000US01003,"01003(AMHERST,MA)",Total for all sectors,10461,25,2016,01003,01003
4,193,All establishments,14,None,None,14,8610000US01004,"01004(AMHERST,MA)",Total for all sectors,5915,25,2016,01004,01004

### Small Area Income and Poverty Estimates (SAIPE)
#### (in-process)

The U.S. Census Bureau's Small Area Income and Poverty Estimates (SAIPE) program provides annual estimates of income and poverty statistics for all school districts, counties, and states. The main objective of this program is to provide estimates of income and poverty for the administration of federal programs and the allocation of federal funds to local jurisdictions. In addition to these federal programs, state and local programs use the income and poverty estimates for distributing funds and managing programs. In order to implement provisions under Title I of the Elementary and Secondary Education Act as amended, we produce total population, number of children ages 5 to 17, and number of related children ages 5 to 17 in families in poverty estimates for school districts.

API:  https://api.census.gov/data/timeseries/poverty/saipe/schdist

In [ ]:
txt_school_districts=[]
for i in range(3, 17):
    leading_zero= "0"
    if i<10:
        url="https://www2.census.gov/programs-surveys/saipe/datasets/20"+ leading_zero + str(i) + "/20" +leading_zero+ str(i)+ "-school-districts/ussd" +leading_zero+ str(i) +".txt"
    else:
        url="https://www2.census.gov/programs-surveys/saipe/datasets/20" + str(i) + "/20"+ str(i)+ "-school-districts/ussd" + str(i) +".txt"    
    txt_school_districts.append(url)
txt_school_districts

['https://www2.census.gov/programs-surveys/saipe/datasets/2003/2003-school-districts/ussd03.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2004/2004-school-districts/ussd04.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2005/2005-school-districts/ussd05.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2006/2006-school-districts/ussd06.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2007/2007-school-districts/ussd07.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2008/2008-school-districts/ussd08.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2009/2009-school-districts/ussd09.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2010/2010-school-districts/ussd10.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2011/2011-school-districts/ussd11.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2012/2012-school-districts/ussd12.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2013/2013-school-districts/ussd13.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2014/2014-school-districts/ussd14.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2015/2015-school-districts/ussd15.txt',
 'https://www2.census.gov/programs-surveys/saipe/datasets/2016/2016-school-districts/ussd16.txt']

In [ ]:
pd.read_table('https://www2.census.gov/programs-surveys/saipe/datasets/2003/2003-school-districts/ussd03.txt', sep='\t' )

In [ ]:
#xls file 2003-2016
!wget "https://www2.census.gov/programs-surveys/saipe/datasets/2003/2003-school-districts/ussd03.xls"


### Quarterly Work Indicators (QWI) 
#### (possible-inclusion)

In [ ]:
qwi_connection = cen.base.Connection('QWISA')

"The QWI are a set of 32 economic indicators including employment, job creation/destruction, wages, hires, and other measures of employment flows. The QWI are reported based on detailed firm characteristics (geography, industry, age, size) and worker demographics (sex, age, education, race, ethnicity) and are available tabulated to national*, state, metropolitan/micropolitan areas, county, and workforce investment areas (WIA). The QWI are unique in their ability to track both firm and worker characteristics over time – enabling analyses such as a longitudinal look at wages by worker sex and age across counties, ranking job creation rates of young firms across NAICS industry groups, and comparing hiring levels by worker race and education levels across a selection of metropolitan areas."
[(census.gov)](https://www.census.gov/data/developers/data-sets/qwi.html)

In [ ]:
# Specify all counties
g_unit = 'county:*'
# state 
g_filter = {'state': '17'}
# Specify time period
time = 'from 1990-Q1 to 2019-Q1'
# Uses .varslike to pull in all indicator names
cols = qwi_connection.varslike('Emp')     # Employment
hira = qwi_connection.varslike('HirA')   # Hiring
earn = qwi_connection.varslike('Earn')   # Earning
pay = qwi_connection.varslike('Pay')     # Payroll
frm = qwi_connection.varslike('Frm')     # Firm Job Stats
sep = qwi_connection.varslike('sep')     # Seperations

# Extend cols to add additional variables
cols.extend(hira)
cols.extend(earn)
cols.extend(pay)
cols.extend(frm)
cols.extend(sep)

In [ ]:
test = qwi_connection.query(cols = cols, time = time, geo_filter = g_filter, geo_unit = g_unit)

In [ ]:
len(test)

10200

In [ ]:
test.head(10)

SAIPESchoolDistrictsTimeSeries, ZBPTotal2016- zbp

---

timeseries, poverty, saipe, schdist


QWI

### ACS 5 YEAR

In [ ]:
!pip install cenpy

Collecting cenpy
  Downloading https://files.pythonhosted.org/packages/4f/8e/0acebcf7799390922a8f654ae6313e889e2900f4e5aef6f05d04afe090c6/cenpy-0.9.9.post1.tar.gz
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from cenpy) (0.24.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from cenpy) (2.21.0)
Collecting libpysal (from cenpy)
  Downloading https://files.pythonhosted.org/packages/c5/6b/6107c51b172a7032bc7e85acd35638af2b9b66dec6d3df042664792d3fde/libpysal-4.0.1.tar.gz (24.4MB)
     |████████████████████████████████| 24.4MB 13.7MB/s
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas->cenpy) (1.16.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->cenpy) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->cenpy) (2.5.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->cenpy) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->cenpy) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->cenpy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->cenpy) (2019.6.16)
Requirement already satisfied: scipy>=0.11 in /usr/local/lib/python3.6/dist-packages (from libpysal->cenpy) (1.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas->cenpy) (1.12.0)
Building wheels for collected packages: cenpy, libpysal
  Building wheel for cenpy (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/79/52/f1/312cd88b8e1d64be0bec4646cf66ce0e033c838d56586a4f40
  Building wheel for libpysal (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/b9/7a/55/777eb685de870d4633c21d7ffe537ecc5ad4eede1bb3d0468e
Successfully built cenpy libpysal
Installing collected packages: libpysal, cenpy
Successfully installed cenpy-0.9.9.post1 libpysal-4.0.1

In [ ]:
import pandas as pd
import cenpy as cen
import pysal
#ACSDT5Y2011
api = 'ACSDT5Y2017'
cen.explorer.explain(api)

{'ACS 5-Year Detailed Tables': 'The American Community Survey (ACS) is an ongoing survey that provides data every year -- giving communities the current information they need to plan investments and services. The ACS covers a broad range of topics about social, economic, demographic, and housing characteristics of the U.S. population.  Summary files include the following geographies: nation, all states (including DC and Puerto Rico), all metropolitan areas, all congressional districts (114th congress), all counties, all places, and all tracts and block groups.  Summary files contain the most detailed cross-tabulations, many of which are published down to block groups. The data are population and housing counts. There are over 64,000 variables in this dataset.'}

In [ ]:
api_conn = cen.base.Connection(api)
api_conn

Connection to ACS 5-Year Detailed Tables (ID: https://api.census.gov/data/id/ACSDT5Y2017)

In [ ]:
#Acquiring Data
#Geographical specification
#Cenpy uses FIPS codes to specify the geographical extent of the data to be downloaded. 
#The object con is our connection to the api, and the attribute geographies is a dictionary.

print(type(api_conn))
print(type(api_conn.geographies))
print(api_conn.geographies.keys())

<class 'cenpy.remote.APIConnection'>
<class 'dict'>
dict_keys(['fips'])

In [ ]:
# print head of data frame in the geographies dictionary
#len(con.geographies['fips']) 
api_conn.geographies['fips'].head(10)
# we want to use the tract so we are going to need to pass in the state and county

  geoLevelDisplay  ...  wildcard
0             010  ...       NaN
1             020  ...       NaN
2             030  ...       NaN
3             040  ...       NaN
4             050  ...   [state]
5             060  ...  [county]
6             067  ...       NaN
7             070  ...       NaN
8             140  ...  [county]
9             150  ...   [tract]

[10 rows x 6 columns]

In [ ]:
g_unit = 'tract:*'
g_filter = {'state':'17'}

In [ ]:
print ('Attributes in the ACS:', api_conn.variables.shape[0])
api_conn.variables.head(10)

Attributes in the ACS: 25110

                                                attributes  ... values
for                                                    NaN  ...    NaN
in                                                     NaN  ...    NaN
ucgid                                                  NaN  ...    NaN
B24022_060E          B24022_060M,B24022_060MA,B24022_060EA  ...    NaN
B19001B_014E      B19001B_014M,B19001B_014MA,B19001B_014EA  ...    NaN
B07007PR_019E  B07007PR_019M,B07007PR_019MA,B07007PR_019EA  ...    NaN
B19101A_004E      B19101A_004M,B19101A_004MA,B19101A_004EA  ...    NaN
B24022_061E          B24022_061M,B24022_061MA,B24022_061EA  ...    NaN
B19001B_013E      B19001B_013M,B19001B_013MA,B19001B_013EA  ...    NaN
B07007PR_018E  B07007PR_018M,B07007PR_018MA,B07007PR_018EA  ...    NaN

[10 rows x 9 columns]

In [ ]:
#https://api.census.gov/data/2017/acs/acs5/cprofile.html

# 'B01001A_001E', POPULATION
# 'B25001_001E' , HOUSING UNITS
# 'B25035_001E' , MEDIAN year structur built
# 'B25058_001E' , MEDIAN CONTRACT RENT (DOLLARS)
# 'B25071_001E' , MEDIAN GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS (DOLLARS)
# 'B25090_001E' , Estimate!!Aggregate real estate taxes paid (dollars)
# 'B25092_001E' , MEDIAN SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS

# 'B17006_001E', POVERTY STATUS IN THE PAST 12 MONTHS OF RELATED CHILDREN UNDER 18 YEARS

# B19083_001E, GINI INDEX OF INCOME INEQUALITY
# B19082_006E, SHARES OF AGGREGATE HOUSEHOLD INCOME BY QUINTILE
# B19058_001E, PUBLIC ASSISTANCE INCOME OR FOOD STAMPS/SNAP IN THE PAST 12 MONTHS FOR HOUSEHOLDS
# B19053_001E, SELF-EMPLOYMENT INCOME IN THE PAST 12 MONTHS FOR HOUSEHOLDS
# B19054_001E, INTEREST, DIVIDENDS, OR NET RENTAL INCOME IN THE PAST 12 MONTHS FOR HOUSEHOLDS
# B19052_001E, WAGE OR SALARY INCOME IN THE PAST 12 MONTHS FOR HOUSEHOLDS

# B08532_001E, MEANS OF TRANSPORTATION TO WORK BY TIME ARRIVING AT WORK FROM HOME FOR WORKPLACE GEOGRAPHY
# B08532_002E,	Estimate!!Total!!12:00 a.m. to 4:59 a.m.
# B08532_003E,	Estimate!!Total!!5:00 a.m. to 5:29 a.m.	
# B08532_004E,	Estimate!!Total!!5:30 a.m. to 5:59 a.m.	
# B08532_005E,	Estimate!!Total!!6:00 a.m. to 6:29 a.m.	
# B08532_006E,	Estimate!!Total!!6:30 a.m. to 6:59 a.m.	
# B08532_007E,	Estimate!!Total!!7:00 a.m. to 7:29 a.m.	
# B08532_008E,	Estimate!!Total!!7:30 a.m. to 7:59 a.m.		
# B08532_009E,	Estimate!!Total!!8:00 a.m. to 8:29 a.m.	
# B08532_010E,	Estimate!!Total!!8:30 a.m. to 8:59 a.m.
# B08532_011E,	Estimate!!Total!!9:00 a.m. to 9:59 a.m.		
# B08532_012E,	Estimate!!Total!!10:00 a.m. to 10:59 a.m.		
# B08532_013E,	Estimate!!Total!!11:00 a.m. to 11:59 a.m.	
# B08532_014E,	Estimate!!Total!!12:00 p.m. to 3:59 p.m.	
# B08532_015E,	Estimate!!Total!!4:00 p.m. to 11:59 p.m.
# B08521_001E,	Estimate!!Median earnings in the past 12 months!!Total	
# B08521_002E,	Estimate!!Median earnings in the past 12 months!!Total!!Car, truck, or van - drove alone	
# B08521_003E,	Estimate!!Median earnings in the past 12 months!!Total!!Car, truck, or van - carpooled	
# B08521_004E,	Estimate!!Median earnings in the past 12 months!!Total!!Public transportation (excluding taxicab)	
# B08521_005E,	Estimate!!Median earnings in the past 12 months!!Total!!Walked	
# B08521_006E,	Estimate!!Median earnings in the past 12 months!!Total!!Taxicab, motorcycle, bicycle, or other means		
# B08521_007E,	Estimate!!Median earnings in the past 12 months!!Total!!Worked at home
# B08012_001E,	Estimate!!Total	SEX OF WORKERS BY TRAVEL TIME TO WORK	
# B08012_002E,	Estimate!!Total!!Less than 5 minutes		
# B08012_003E,	Estimate!!Total!!5 to 9 minutes	
# B08012_004E,	Estimate!!Total!!10 to 14 minutes		
# B08012_005E,	Estimate!!Total!!15 to 19 minutes		
# B08012_006E,	Estimate!!Total!!20 to 24 minutes		
# B08012_007E,	Estimate!!Total!!25 to 29 minutes		
# B08012_008E,	Estimate!!Total!!30 to 34 minutes	
# B08012_009E,	Estimate!!Total!!35 to 39 minutes		
# B08012_010E,	Estimate!!Total!!40 to 44 minutes		
# B08012_011E,	Estimate!!Total!!45 to 59 minutes		
# B08012_012E,	Estimate!!Total!!60 to 89 minutes		
# B08012_013E,	Estimate!!Total!!90 or more minutes	

# B24121_001E - B24121_526E MEDIAN EARNINGS BY OCCUPATION (TOTAL)
# B24122_001E - B24122_526E MEDIAN EARNINGS BY OCCUPATION (MALE)
# B24123_001E - B24123_526E MEDIAN EARNINGS BY OCCUPATION (FEMALE)
# B24124_001E - B24124_526E OCCUPATION FOR THE FULL-TIME, YEAR-ROUND CIVILIAN EMPLOYED POPULATION
# B24125_001E - B24125_526E Population by OCCUPATION(MALE)
# B24126_001E - B24126_526E Population by OCCUPATION(FEMALE)

#             POPULATION  , HOUSING UNITS , avg yr_built ,  MEDIAN RENT  , RENT % INCOME , real-estate taxes , OWNER_COSTS % INCOME
#housing = ('B01001A_001E', 'B25001_001E' , 'B25035_001E', 'B25058_001E' , 'B25071_001E' , 'B25090_001E'     ,  'B25092_001E' )

#might want to add geoid

cols = api_conn.varslike('B01001A_001E')
cols.extend(['B25001_001E' , 'B25035_001E', 'B25058_001E' , 'B25071_001E' , 'B25090_001E'  ,  'B25092_001E'])

In [ ]:

len(cols)

7

In [ ]:
cols #B25035e1

['B01001A_001E',
 'B25001_001E',
 'B25035_001E',
 'B25058_001E',
 'B25071_001E',
 'B25090_001E',
 'B25092_001E']

In [ ]:
cols_detail = pd.DataFrame(api_conn.variables.label)
cols_detail.sample(5)

                                                          label
B24123_494E                  Estimate!!Total!!Flight attendants
B24126_499E   Estimate!!Total!!Motor vehicle operators all o...
B25124_023E   Estimate!!Total!!Owner occupied!!3-person hous...
B05003G_002E                              Estimate!!Total!!Male
B25087_031E   Estimate!!Total!!Housing units without a mortg...

In [ ]:
data =  api_conn.query(cols, geo_unit=g_unit, geo_filter=g_filter)

In [ ]:

num = data._get_numeric_data()
num[num < 0] = NAN
#need to set up filter to change all the -666666666 to either 0 or nan, or maybe an average of all the conneting tracts

     B01001A_001E B25001_001E B25035_001E  ... state county   tract
0            4967        1898        1989  ...    17    197  881002
1            6152        2047        1994  ...    17    197  881105
2            5062        1875        1975  ...    17    197  880502
3            2609        1579        1963  ...    17    197  883700
4            3999        2385        1981  ...    17    197  880105
5            2840        1863        1977  ...    17    197  880109
6            1159         644        1972  ...    17    197  880112
7            1462        1142        1969  ...    17    197  880113
8            2101        1408        1939  ...    17    197  881800
9            5032        2147        1957  ...    17    031  561000
10           1094         500        1957  ...    17    031  640100
11           2842        1691        1943  ...    17    031  630500
12           1255         912        1939  ...    17    031  611100
13           2012        1225        1951  ...    17    031  611400
14           2864        1768        1965  ...    17    031  640600
15           2800        1792        1957  ...    17    031  650400
16           2155        1473        1950  ...    17    031  660500
17           1625        2027        1954  ...    17    031  661100
18             26         526        1943  ...    17    031  670600
19              0         495        1939  ...    17    031  690500
20              4        1292        1939  ...    17    031  691000
21             26        2223        1949  ...    17    031  710400
22           3921        1968        1957  ...    17    031  740400
23           4536        2101        1965  ...    17    031  770800
24           1957        1137        1969  ...    17    031  800800
25           5321        5252        1980  ...    17    031  081000
26           1998        1405        1948  ...    17    031  030400
27           2048        1581        1939  ...    17    031  030900
28           1998        1326        1939  ...    17    031  031900
29           4495        2464        1939  ...    17    031  050200
...           ...         ...         ...  ...   ...    ...     ...
3093         3329        2235        1939  ...    17    031  830600
3094         2286        1386        1939  ...    17    031  830900
3095         1995        2013        1939  ...    17    031  830700
3096         2254        1431        1939  ...    17    031  830800
3097         3588        1319        1977  ...    17    043  846209
3098         5967        2586        1991  ...    17    099  961701
3099         3074        1305        1988  ...    17    099  961702
3100         3502        1278        1945  ...    17    031  819600
3101          449        1201        1967  ...    17    031  827804
3102         1810        2315        1962  ...    17    031  827500
3103         1418        1686        1964  ...    17    031  827801
3104         2882        3743        1990  ...    17    031  828506
3105         1051        1542        1940  ...    17    031  829100
3106         1871        1617        1957  ...    17    031  829500
3107          572        2598        1978  ...    17    031  830004
3108          948        1948        1976  ...    17    031  830005
3109          720        1175        1965  ...    17    031  830006
3110          801        2514        1975  ...    17    031  830201
3111         3201        1539        1939  ...    17    031  808800
3112         1349        1678        1939  ...    17    031  809200
3113         4897        1981        1959  ...    17    031  810501
3114         5510        2803        1961  ...    17    031  811100
3115         4369        1985        1955  ...    17    031  811200
3116         1891        1626        1939  ...    17    031  812500
3117         2215        1675        1939  ...    17    031  812700
3118         2736        1463        1939  ...    17    031  814000
3119         2279        1303        1939  ...    17    031  815000
3120         3701        2268        1939  ...    17    031  815400
3121         2259        1406        1964  ...    17    031  816600
3122          304        1921        1957  ...    17    031  817101

[3123 rows x 10 columns]

The Census Bureau API for extracting geometries is separate from the database API.

In [ ]:
cen.tiger.available()

[{'name': 'AIANNHA', 'type': 'MapServer'},
 {'name': 'CBSA', 'type': 'MapServer'},
 {'name': 'Hydro_LargeScale', 'type': 'MapServer'},
 {'name': 'Hydro', 'type': 'MapServer'},
 {'name': 'Labels', 'type': 'MapServer'},
 {'name': 'Legislative', 'type': 'MapServer'},
 {'name': 'Places_CouSub_ConCity_SubMCD', 'type': 'MapServer'},
 {'name': 'PUMA_TAD_TAZ_UGA_ZCTA', 'type': 'MapServer'},
 {'name': 'Region_Division', 'type': 'MapServer'},
 {'name': 'School', 'type': 'MapServer'},
 {'name': 'Special_Land_Use_Areas', 'type': 'MapServer'},
 {'name': 'State_County', 'type': 'MapServer'},
 {'name': 'tigerWMS_ACS2013', 'type': 'MapServer'},
 {'name': 'tigerWMS_ACS2014', 'type': 'MapServer'},
 {'name': 'tigerWMS_ACS2015', 'type': 'MapServer'},
 {'name': 'tigerWMS_ACS2016', 'type': 'MapServer'},
 {'name': 'tigerWMS_ACS2017', 'type': 'MapServer'},
 {'name': 'tigerWMS_ACS2018', 'type': 'MapServer'},
 {'name': 'tigerWMS_Census2010', 'type': 'MapServer'},
 {'name': 'tigerWMS_Current', 'type': 'MapServer'},
 {'name': 'tigerWMS_ECON2012', 'type': 'MapServer'},
 {'name': 'tigerWMS_PhysicalFeatures', 'type': 'MapServer'},
 {'name': 'Tracts_Blocks', 'type': 'MapServer'},
 {'name': 'Transportation_LargeScale', 'type': 'MapServer'},
 {'name': 'Transportation', 'type': 'MapServer'},
 {'name': 'TribalTracts', 'type': 'MapServer'},
 {'name': 'Urban', 'type': 'MapServer'},
 {'name': 'USLandmass', 'type': 'MapServer'}]

In [ ]:
con.set_mapservice('tigerWMS_ACS2013')

# print layers
con.mapservice.layers

In [ ]:
geodata = con.mapservice.query(layer=84, where='STATE=8')

Geopandas dataframe conversion failed! Continuing...

/usr/local/lib/python3.6/dist-packages/cenpy/tiger.py:189: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  outdf.crs = crs

In [ ]:
# preview geodata
geodata.ix[:5, :5]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

     AREALAND  AREAWATER  BASENAME      CENTLAT       CENTLON
0  4376528327   25375721  La Plata  +37.2863615  -107.8435627
1  8206547707    4454510  Saguache  +38.0807339  -106.2808607
2  1419419128    3530746  Sedgwick  +40.8759564  -102.3517903
3  1003660601    2035929  San Juan  +37.7640122  -107.6762274
4  4605714032    8166134  Cheyenne  +38.8281780  -102.6034141
5  1913031958    3364151    Custer  +38.1086939  -105.3674060

In [ ]:
newdata = pd.merge(data, geodata, left_on='county', right_on='COUNTY')
newdata.ix[:5, -5:]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,OID,STATE,STGEOMETRY.AREA,STGEOMETRY.LEN,geometry
0,27553700234319,08,5.211597e+09,511817.561207,"POLYGON ((-11644798.3074 4851335.998899996, -1..."
1,27553703789414,08,3.523333e+09,435243.866171,"(POLYGON ((-11665321.7253 4803086.1294, -11665..."
2,27553701435070,08,3.280834e+09,291031.607339,"(POLYGON ((-11760745.906 4874953.136100002, -1..."
3,27553700234321,08,6.784688e+08,341476.209637,"(POLYGON ((-11700783.4396 4811897.626999997, -..."
4,27553711656416,08,3.653474e+09,276727.360768,"POLYGON ((-11674338.3814 4803073.133100003, -1..."
5,27553704502958,08,9.102533e+09,401354.557820,"POLYGON ((-11681754.4859 4691922.856899999, -1..."